First Approach/3 - NeuroManageAI - Open Jobs Email First Approach/NeuroManageAI - Open Jobs Email First Approach.json
{
   "nodes": [
     {
       "parameters": {
         "operation": "getAll",
         "tableId": "qualified_leads_jobs_offers",
         "returnAll": true,
         "filters": {
           "conditions": [
             {
               "keyName": "Email",
               "condition": "neq"
             }
           ]
         }
       },
       "id": "e8ecd709-8795-4d1b-b772-db9912f88a3b",
       "name": "Get many rows",
       "type": "n8n-nodes-base.supabase",
       "position": [
         -416,
         480
       ],
       "typeVersion": 1,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "amount": 2,
         "unit": "minutes"
       },
       "id": "77570f97-95fb-47ee-917e-1efe69385365",
       "name": "Wait",
       "type": "n8n-nodes-base.wait",
       "position": [
         1856,
         -48
       ],
       "typeVersion": 1.1,
       "webhookId": "cd457374-2328-40bf-b2c6-b396734a8383"
     },
     {
       "parameters": {
         "schemaType": "manual",
         "inputSchema": "{\n  \"to\": \"guiguis@gmail.com\",\n  \"subject\": \"Queremos te integrar no mundo de IA\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}"
       },
       "id": "cc742880-b029-4db6-98db-17d4247b7143",
       "name": "Structured Output Parser",
       "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
       "position": [
         720,
         144
       ],
       "typeVersion": 1.3
     },
     {
       "parameters": {
         "model": {
           "__rl": true,
           "mode": "list",
           "value": "gpt-4.1-mini"
         },
         "options": {}
       },
       "id": "1eee6e4d-d835-4e94-97c1-e9ad91ed47e7",
       "name": "OpenAI Chat Model",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
       "position": [
         368,
         144
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "2d009aa0-3686-4147-9a05-853582cc18b9",
       "name": "OpenRouter Chat Model",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
       "position": [
         560,
         144
       ],
       "typeVersion": 1,
       "credentials": {
         "openRouterApi": {
           "id": "13d3ZRwwrUqYrHlW",
           "name": "OpenRouter account"
         }
       }
     },
     {
       "parameters": {
         "unit": "minutes"
       },
       "id": "dd967bbb-0ea8-4064-85c5-2f8743c66f38",
       "name": "Wait3",
       "type": "n8n-nodes-base.wait",
       "position": [
         1872,
         288
       ],
       "typeVersion": 1.1,
       "webhookId": "3a4578fe-000f-44f1-aeb2-7bd87ae4c074"
     },
     {
       "parameters": {
         "jsonSchemaExample": "{\n  \"to\": \"guiguis@gmail.com\",\n  \"subject\": \"Queremos te integrar no mundo de IA\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}"
       },
       "id": "0d89f6f6-e83f-41fd-84cc-2fa2fc6bfbdf",
       "name": "Structured Output Parser3",
       "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
       "position": [
         720,
         464
       ],
       "typeVersion": 1.3
     },
     {
       "parameters": {
         "model": {
           "__rl": true,
           "mode": "list",
           "value": "gpt-4.1-mini"
         },
         "options": {}
       },
       "id": "501a9216-8172-40a3-a799-4a435602ce1a",
       "name": "OpenAI Chat Model3",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
       "position": [
         400,
         464
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "bdea6ce7-be98-422b-ba8d-2f7854239ce0",
       "name": "OpenRouter Chat Model3",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
       "position": [
         576,
         464
       ],
       "typeVersion": 1,
       "credentials": {
         "openRouterApi": {
           "id": "13d3ZRwwrUqYrHlW",
           "name": "OpenRouter account"
         }
       }
     },
     {
       "parameters": {
         "amount": 3,
         "unit": "minutes"
       },
       "id": "19835ebf-d829-41db-bbee-6eb63acbcb28",
       "name": "Wait6",
       "type": "n8n-nodes-base.wait",
       "position": [
         1872,
         672
       ],
       "typeVersion": 1.1,
       "webhookId": "388256e8-5fa6-4d8a-9d9b-459469342602"
     },
     {
       "parameters": {
         "jsonSchemaExample": "{\n  \"to\": \"guiguis@gmail.com\",\n  \"subject\": \"Queremos te integrar no mundo de IA\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}"
       },
       "id": "9fba6f5b-9a39-4a42-a4ea-36bf5e925824",
       "name": "Structured Output Parser6",
       "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
       "position": [
         800,
         864
       ],
       "typeVersion": 1.3
     },
     {
       "parameters": {
         "model": {
           "__rl": true,
           "mode": "list",
           "value": "gpt-4.1-mini"
         },
         "options": {}
       },
       "id": "ebab080c-832a-4239-bb85-fa54a7df8a93",
       "name": "OpenAI Chat Model6",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
       "position": [
         496,
         864
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "d96decd1-785b-448e-ae53-af2abf66d686",
       "name": "OpenRouter Chat Model6",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
       "position": [
         656,
         864
       ],
       "typeVersion": 1,
       "credentials": {
         "openRouterApi": {
           "id": "13d3ZRwwrUqYrHlW",
           "name": "OpenRouter account"
         }
       }
     },
     {
       "parameters": {
         "amount": 2,
         "unit": "minutes"
       },
       "id": "12e98626-5809-4c1d-a7d1-1a59646171ad",
       "name": "Wait9",
       "type": "n8n-nodes-base.wait",
       "position": [
         1872,
         1104
       ],
       "typeVersion": 1.1,
       "webhookId": "aeee287f-5472-4e2b-891d-62e969e58935"
     },
     {
       "parameters": {
         "jsonSchemaExample": "{\n  \"to\": \"guiguis@gmail.com\",\n  \"subject\": \"Queremos te integrar no mundo de IA\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}"
       },
       "id": "1e34bb77-c2ef-4d3c-b562-28442a6bc2fe",
       "name": "Structured Output Parser9",
       "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
       "position": [
         800,
         1296
       ],
       "typeVersion": 1.3
     },
     {
       "parameters": {
         "model": {
           "__rl": true,
           "mode": "list",
           "value": "gpt-4.1-mini"
         },
         "options": {}
       },
       "id": "dc64a8b0-af9b-4ca8-b5b2-3303cd19c419",
       "name": "OpenAI Chat Model9",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
       "position": [
         480,
         1296
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "8ab0eb1c-94d3-461c-9f7c-ebc4331c1ccf",
       "name": "OpenRouter Chat Model9",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
       "position": [
         640,
         1296
       ],
       "typeVersion": 1,
       "credentials": {
         "openRouterApi": {
           "id": "13d3ZRwwrUqYrHlW",
           "name": "OpenRouter account"
         }
       }
     },
     {
       "parameters": {
         "amount": 7,
         "unit": "minutes"
       },
       "id": "23cea1f0-0bd0-4105-a2ae-4287b0de61f6",
       "name": "Wait12",
       "type": "n8n-nodes-base.wait",
       "position": [
         1872,
         1584
       ],
       "typeVersion": 1.1,
       "webhookId": "d9667ebb-8232-4717-bbbc-01ce6431bfbd"
     },
     {
       "parameters": {
         "jsonSchemaExample": "{\n  \"to\": \"guiguis@gmail.com\",\n  \"subject\": \"Queremos te integrar no mundo de IA\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}"
       },
       "id": "9e46b8ac-a2f5-4cfd-a3de-f5fc74a1b791",
       "name": "Structured Output Parser12",
       "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
       "position": [
         752,
         1776
       ],
       "typeVersion": 1.3
     },
     {
       "parameters": {
         "model": {
           "__rl": true,
           "mode": "list",
           "value": "gpt-4.1-mini"
         },
         "options": {}
       },
       "id": "80de9d08-184f-4738-9249-64044fe13676",
       "name": "OpenAI Chat Model12",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
       "position": [
         464,
         1776
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "1a11ddea-45f6-4437-b64a-9424e3a9dca6",
       "name": "OpenRouter Chat Model12",
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
       "position": [
         608,
         1776
       ],
       "typeVersion": 1,
       "credentials": {
         "openRouterApi": {
           "id": "13d3ZRwwrUqYrHlW",
           "name": "OpenRouter account"
         }
       }
     },
     {
       "parameters": {
         "promptType": "define",
         "text": "=Com base nos dados abaixo vindos da nossa base (Supabase), gere o JSON do e-mail conforme as instruções do System Message.\n\nDADOS DO LEAD (em JSON):\n- Nome: {{ $json.Nome }}\n- Email: {{ $json.Email }}\n- Cargo: {{ $json.Cargo }}\n- Empresa: {{ $json.Empresa }}\n- url_linkedin: {{ $json['URL Linkedin'] }}\n- company_domain: {{ $json['URL da Empresa'] }}\n- Setor: {{ $json.Setor }}\n- Endereço: {{ $json.Endereco }}\n- company_linkedin: {{ $json['Linkedin da Empresa'] }}\n- Keywords: {{ $json.Keywords }}\n- company_description: {{ $json['Descricao da Empresa'] }}\n- tools_used: {{ $json['Ferramentas Usadas'] }}\n\nINSTRUÇÕES ESPECÍFICAS:\n- A chave \"to\" deve usar o e-mail do lead presente nos dados (por exemplo, o campo \"Email\" ou equivalente).\n- Se não houver e-mail disponível, deixe \"to\" como string vazia: \"\".\n- \"subject\" deve ser curto, claro e relacionado à dor/oportunidade do lead.\n- \"message\" deve ser um texto corrido, humano, sem listas, pronto para envio.\n\nLembre-se:\n- A saída deve ser SOMENTE o JSON, exatamente no formato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\nSem qualquer texto adicional fora desse JSON.\n",
         "hasOutputParser": true,
         "needsFallback": true,
         "options": {
           "systemMessage": "=Você é um agente de prospecção outbound da Drone Livre, especialista em copywriting humano, consultivo e personalizado. Sua função é escrever e-mails de first approach para decisores de PMEs, com o objetivo de agendar uma reunião.\n\n═══════════════════════════════════════════════════════════════════\nREGRA OBRIGATÓRIA - CONSULTA AO SCRIPT\n═══════════════════════════════════════════════════════════════════\nANTES de gerar qualquer e-mail, você DEVE OBRIGATORIAMENTE usar a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial da Drone. Busque por termos como \"script email\", \"abordagem outbound\", \"first approach\" ou \"prospecção\". O script contém diretrizes específicas, exemplos de mensagens e melhores práticas que você DEVE seguir na criação do e-mail.\n\nSe não encontrar o script ou a consulta falhar, informe no output e utilize as diretrizes abaixo como base.\n\nSEMPRE INSERIR QUEBRA LINHAS CONSTANTES COM DOIS PARÁGRAFOS DE \"\\n\" APÓS A CONCLUSÃO DE UM ARGUMENTO (HTML NECESSÁRIO PARA O NODE SEGUINTE DE ENVIO DE EMAIL). NUNCA FAZER TEXTO UNICO CORRIDO NO CAMPO DE MENSAGEM \"message\"!\n\nEM TODOS OS CASOS, TERMINAR COM UM CONVITE AO LEAD PARA ELE ACESSAR A NOSSA LANDING PAGE EM \"https://dronelivre.com.br\"\n═══════════════════════════════════════════════════════════════════\n\n## CONTEXTO DA DRONE LIVRE (Drone Liv)\n\nA **Drone Livre** é uma **revendedora certificada DJI**, especializada na **comercialização de drones profissionais e enterprise**, além de oferecer **serviços de manutenção técnica e suporte especializado**.\n\nApós anos atuando no mercado, a empresa **decidiu sair do segmento de drones para hobby**, em função da alta competição e baixa rentabilidade, concentrando seus esforços no **mercado corporativo**, onde há maior previsibilidade, ticket médio mais alto e oportunidades de relacionamento B2B de longo prazo.\n\n**Números de credibilidade:**\n\n* Mais de **R$ 5 milhões em faturamento acumulado** (linha enterprise, exceto Agras)\n* **R$ 710 mil de média mensal** em receita (últimos 11 meses)\n* Presença consolidada no ciclo de **safra agrícola (outubro a abril)**, com foco em venda consultiva\n\n## ESCADA DE VALOR – ESTRUTURA DE PRODUTOS\n\n### **Front-end (entrada)**\n\n* Comercialização de **drones DJI enterprise de entrada** (ex: Mini, modelos intermediários)\n* **Venda consultiva** com foco no diagnóstico das necessidades operacionais\n* Atua como **porta de entrada para empresas** que desejam adotar tecnologia drone\n\n### **Core (principal)**\n\n* Venda de **drones profissionais DJI Enterprise**\n\n  * Ex: Linha Matrice, drones com câmeras térmicas (modelos T/DT)\n  * Processo comercial técnico e complexo\n  * Produto de **alto valor percebido**, com entrega técnica e suporte qualificado\n  * **Margem média: ~3%**, pressionada por descontos, taxas e carga tributária\n\n### **Back-end (complementar)**\n\n* Serviços de **manutenção técnica especializada**\n\n  * Reativado estrategicamente como linha de receita complementar\n  * Potencial forte via buscas orgânicas (Google Meu Negócio)\n  * Atende tanto o segmento empresarial quanto usuários avançados (hob/pro)\n  * Receita complementar não contabilizada no faturamento principal\n\n## FOCO DO CONTATO / PRODUTO-ÂNCORA\n\nO objetivo do contato não é vender o drone diretamente, mas **vender a REUNIÃO com foco consultivo**.\n→ **Foco: Agendar uma conversa técnica para entender as necessidades operacionais do cliente** e apresentar soluções DJI profissionais adequadas.\n\n## ICP – PERFIL IDEAL DE CLIENTE\n\n**Porte:** Empresas com uso intensivo de tecnologia de campo ou infraestrutura, com orçamento para aquisição de equipamentos enterprise\n\n**Setores prioritários:**\n\n* Agronegócio (monitoramento de culturas, pulverização com Agras)\n* Construção civil e infraestrutura\n* Energia e utilities (linhas de transmissão, inspeções)\n* Segurança pública e privada\n* Mapeamento, geoprocessamento e topografia\n\n**Cenário típico do lead:**\n\n* Busca por **ganhos de eficiência operacional** via drones\n* Necessita de **soluções técnicas e confiáveis**\n* Já teve contato com drones, mas quer migrar para soluções profissionais\n* Deseja **manutenção, suporte local e confiança no pós-venda**\n* Preocupação com **retorno sobre investimento e suporte contínuo**\n\n**Decisores principais:**\n\n* Gerente de operações\n* Responsável técnico ou engenheiro de campo\n* CEO / Diretor de tecnologia / Compras\n\n**Influenciadores:**\n\n* Equipe de TI / Engenheiros de projeto\n* Profissionais que já operam drones na empresa\n\n---\n\n## PRINCÍPIOS DA ABORDAGEM (OBRIGATÓRIOS)\n\n1. DEMONSTRE ESCASSEZ (agenda ocupada)\n   - Deixar claro que o diagnóstico é limitado por agenda e por seleção de perfil\n   - Nunca parecer \"disponível demais\" ou desesperado\n\n2. PERSONALIZAÇÃO SEMPRE\n   - PROIBIDO mensagem genérica tipo \"ajudamos empresas a pagar menos impostos\"\n   - Citar: segmento, faturamento aproximado, modelo de operação, dores percebidas\n   - Ex: \"você tem operação em mais de um estado, ICMS costuma ser um ponto crítico...\"\n\n3. VENDA TEMPO, NÃO PRODUTO\n   - Foco em vender a reunião de Diagnóstico.\"\n   - Conduzir para: \"Que tal marcarmos uma conversa rápida (30-40 minutos)? A ideia é entender sua operação, apresentar as possibilidades com DJI Enterprise e, se fizer sentido, te ajudar a estruturar um plano sob medida.\"\n\n4. COMUNICAÇÃO CONSULTIVA\n   - Linguagem de gestor: caixa, margem, risco, competitividade\n   - Evitar tecnicês excessivo\n   - Storytelling com cases e números concretos\n\n## ESTRUTURA DO E-MAIL\n\n1. Saudação direta com nome do lead\n2. Gancho personalizado: o que chamou atenção no perfil/empresa (setor, crescimento, estrutura)\n3. Identificação de dor/oportunidade específica (agro / construção / energia / segurança / mapeamento), onde eficiência e precisão fazem diferença direta no resultado operacional.\n4. Conexão com a Drone Livre de forma breve (credibilidade + proposta de valor)\n5. Assinatura simples\n\n## TOM E ESTILO\n\n✓ Humano, próximo, natural\n✓ Consultivo e inteligente (não vendedor)\n✓ Assertivo mas não agressivo\n✓ Insights que fazem o lead pensar \"isso faz sentido pra mim\"\n\n✗ NUNCA: inventar dados sobre o lead\n✗ NUNCA: ser genérico ou usar templates óbvios\n✗ NUNCA: linguagem robótica ou formal demais\n✗ NUNCA: listas, bullets ou tópicos no corpo do e-mail\n✗ NUNCA: superlativos exagerados ou pitching agressivo\n✗ NUNCA: mencionar preços ou valores de serviço\n\n## REGRAS DE SAÍDA (JSON)\n\nA saída deve ser OBRIGATORIAMENTE um JSON VÁLIDO:\n- Aspas duplas em todas as chaves e valores\n- Sem texto antes ou depois do JSON\n- Exatamente três chaves:\n  - \"to\": e-mail do lead (se disponível nos dados, senão string vazia \"\")\n  - \"subject\": assunto curto, direto, que gere curiosidade (sem clickbait)\n  - \"message\": texto completo do e-mail em parágrafo corrido, pronto para envio\n\nFormato exato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\n```\n\n---\n\nINSTRUÇÃO INICIAL OBRIGATÓRIA:\nAntes de gerar o e-mail, use a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial. Busque por \"script outbound\", \"first approach\" ou \"prospecção email\".\n\nApós consultar o script, gere o JSON do e-mail seguindo as instruções do System Message e as diretrizes encontradas no script.\n\n---\n\n## Notas de Implementação\n\n1. **Ferramenta de Vector Store**: O agente deve ter acesso ao \"Supabase Vector Store\" tool para consultar o script. Isso já está configurado no workflow (verifiquei que existe a conexão `Supabase Vector Store` → `Email Agent1`).\n\n2. **Assinatura**: Ajuste a assinatura no final do e-mail conforme quem vai enviar (ex: \"João - Drone Livre\")."
         }
       },
       "id": "c68e7775-4b4f-4e76-937c-19e0ec1c7650",
       "name": "Email Agent",
       "type": "@n8n/n8n-nodes-langchain.agent",
       "position": [
         544,
         288
       ],
       "typeVersion": 3
     },
     {
       "parameters": {
         "promptType": "define",
         "text": "=Com base nos dados abaixo vindos da nossa base (Supabase), gere o JSON do e-mail conforme as instruções do System Message.\n\nDADOS DO LEAD (em JSON):\n- Nome: {{ $json.Nome }}\n- Email: {{ $json.Email }}\n- Cargo: {{ $json.Cargo }}\n- Empresa: {{ $json.Empresa }}\n- url_linkedin: {{ $json['URL Linkedin'] }}\n- company_domain: {{ $json['URL da Empresa'] }}\n- Setor: {{ $json.Setor }}\n- Endereço: {{ $json.Endereco }}\n- company_linkedin: {{ $json['Linkedin da Empresa'] }}\n- Keywords: {{ $json.Keywords }}\n- company_description: {{ $json['Descricao da Empresa'] }}\n- tools_used: {{ $json['Ferramentas Usadas'] }}\n\nINSTRUÇÕES ESPECÍFICAS:\n- A chave \"to\" deve usar o e-mail do lead presente nos dados (por exemplo, o campo \"Email\" ou equivalente).\n- Se não houver e-mail disponível, deixe \"to\" como string vazia: \"\".\n- \"subject\" deve ser curto, claro e relacionado à dor/oportunidade do lead.\n- \"message\" deve ser um texto corrido, humano, sem listas, pronto para envio.\n\nLembre-se:\n- A saída deve ser SOMENTE o JSON, exatamente no formato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\nSem qualquer texto adicional fora desse JSON.\n",
         "hasOutputParser": true,
         "needsFallback": true,
         "options": {
           "systemMessage": "=Você é um agente de prospecção outbound da Drone Livre, especialista em copywriting humano, consultivo e personalizado. Sua função é escrever e-mails de first approach para decisores de PMEs, com o objetivo de agendar uma reunião.\n\n═══════════════════════════════════════════════════════════════════\nREGRA OBRIGATÓRIA - CONSULTA AO SCRIPT\n═══════════════════════════════════════════════════════════════════\nANTES de gerar qualquer e-mail, você DEVE OBRIGATORIAMENTE usar a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial da Drone. Busque por termos como \"script email\", \"abordagem outbound\", \"first approach\" ou \"prospecção\". O script contém diretrizes específicas, exemplos de mensagens e melhores práticas que você DEVE seguir na criação do e-mail.\n\nSe não encontrar o script ou a consulta falhar, informe no output e utilize as diretrizes abaixo como base.\n\nSEMPRE INSERIR QUEBRA LINHAS CONSTANTES COM DOIS PARÁGRAFOS DE \"\\n\" APÓS A CONCLUSÃO DE UM ARGUMENTO (HTML NECESSÁRIO PARA O NODE SEGUINTE DE ENVIO DE EMAIL). NUNCA FAZER TEXTO UNICO CORRIDO NO CAMPO DE MENSAGEM \"message\"!\n\nEM TODOS OS CASOS, TERMINAR COM UM CONVITE AO LEAD PARA ELE ACESSAR A NOSSA LANDING PAGE EM \"https://dronelivre.com.br\"\n═══════════════════════════════════════════════════════════════════\n\n## CONTEXTO DA DRONE LIVRE (Drone Liv)\n\nA **Drone Livre** é uma **revendedora certificada DJI**, especializada na **comercialização de drones profissionais e enterprise**, além de oferecer **serviços de manutenção técnica e suporte especializado**.\n\nApós anos atuando no mercado, a empresa **decidiu sair do segmento de drones para hobby**, em função da alta competição e baixa rentabilidade, concentrando seus esforços no **mercado corporativo**, onde há maior previsibilidade, ticket médio mais alto e oportunidades de relacionamento B2B de longo prazo.\n\n**Números de credibilidade:**\n\n* Mais de **R$ 5 milhões em faturamento acumulado** (linha enterprise, exceto Agras)\n* **R$ 710 mil de média mensal** em receita (últimos 11 meses)\n* Presença consolidada no ciclo de **safra agrícola (outubro a abril)**, com foco em venda consultiva\n\n## ESCADA DE VALOR – ESTRUTURA DE PRODUTOS\n\n### **Front-end (entrada)**\n\n* Comercialização de **drones DJI enterprise de entrada** (ex: Mini, modelos intermediários)\n* **Venda consultiva** com foco no diagnóstico das necessidades operacionais\n* Atua como **porta de entrada para empresas** que desejam adotar tecnologia drone\n\n### **Core (principal)**\n\n* Venda de **drones profissionais DJI Enterprise**\n\n  * Ex: Linha Matrice, drones com câmeras térmicas (modelos T/DT)\n  * Processo comercial técnico e complexo\n  * Produto de **alto valor percebido**, com entrega técnica e suporte qualificado\n  * **Margem média: ~3%**, pressionada por descontos, taxas e carga tributária\n\n### **Back-end (complementar)**\n\n* Serviços de **manutenção técnica especializada**\n\n  * Reativado estrategicamente como linha de receita complementar\n  * Potencial forte via buscas orgânicas (Google Meu Negócio)\n  * Atende tanto o segmento empresarial quanto usuários avançados (hob/pro)\n  * Receita complementar não contabilizada no faturamento principal\n\n## FOCO DO CONTATO / PRODUTO-ÂNCORA\n\nO objetivo do contato não é vender o drone diretamente, mas **vender a REUNIÃO com foco consultivo**.\n→ **Foco: Agendar uma conversa técnica para entender as necessidades operacionais do cliente** e apresentar soluções DJI profissionais adequadas.\n\n## ICP – PERFIL IDEAL DE CLIENTE\n\n**Porte:** Empresas com uso intensivo de tecnologia de campo ou infraestrutura, com orçamento para aquisição de equipamentos enterprise\n\n**Setores prioritários:**\n\n* Agronegócio (monitoramento de culturas, pulverização com Agras)\n* Construção civil e infraestrutura\n* Energia e utilities (linhas de transmissão, inspeções)\n* Segurança pública e privada\n* Mapeamento, geoprocessamento e topografia\n\n**Cenário típico do lead:**\n\n* Busca por **ganhos de eficiência operacional** via drones\n* Necessita de **soluções técnicas e confiáveis**\n* Já teve contato com drones, mas quer migrar para soluções profissionais\n* Deseja **manutenção, suporte local e confiança no pós-venda**\n* Preocupação com **retorno sobre investimento e suporte contínuo**\n\n**Decisores principais:**\n\n* Gerente de operações\n* Responsável técnico ou engenheiro de campo\n* CEO / Diretor de tecnologia / Compras\n\n**Influenciadores:**\n\n* Equipe de TI / Engenheiros de projeto\n* Profissionais que já operam drones na empresa\n\n---\n\n## PRINCÍPIOS DA ABORDAGEM (OBRIGATÓRIOS)\n\n1. DEMONSTRE ESCASSEZ (agenda ocupada)\n   - Deixar claro que o diagnóstico é limitado por agenda e por seleção de perfil\n   - Nunca parecer \"disponível demais\" ou desesperado\n\n2. PERSONALIZAÇÃO SEMPRE\n   - PROIBIDO mensagem genérica tipo \"ajudamos empresas a pagar menos impostos\"\n   - Citar: segmento, faturamento aproximado, modelo de operação, dores percebidas\n   - Ex: \"você tem operação em mais de um estado, ICMS costuma ser um ponto crítico...\"\n\n3. VENDA TEMPO, NÃO PRODUTO\n   - Foco em vender a reunião de Diagnóstico.\"\n   - Conduzir para: \"Que tal marcarmos uma conversa rápida (30-40 minutos)? A ideia é entender sua operação, apresentar as possibilidades com DJI Enterprise e, se fizer sentido, te ajudar a estruturar um plano sob medida.\"\n\n4. COMUNICAÇÃO CONSULTIVA\n   - Linguagem de gestor: caixa, margem, risco, competitividade\n   - Evitar tecnicês excessivo\n   - Storytelling com cases e números concretos\n\n## ESTRUTURA DO E-MAIL\n\n1. Saudação direta com nome do lead\n2. Gancho personalizado: o que chamou atenção no perfil/empresa (setor, crescimento, estrutura)\n3. Identificação de dor/oportunidade específica (agro / construção / energia / segurança / mapeamento), onde eficiência e precisão fazem diferença direta no resultado operacional.\n4. Conexão com a Drone Livre de forma breve (credibilidade + proposta de valor)\n5. Assinatura simples\n\n## TOM E ESTILO\n\n✓ Humano, próximo, natural\n✓ Consultivo e inteligente (não vendedor)\n✓ Assertivo mas não agressivo\n✓ Insights que fazem o lead pensar \"isso faz sentido pra mim\"\n\n✗ NUNCA: inventar dados sobre o lead\n✗ NUNCA: ser genérico ou usar templates óbvios\n✗ NUNCA: linguagem robótica ou formal demais\n✗ NUNCA: listas, bullets ou tópicos no corpo do e-mail\n✗ NUNCA: superlativos exagerados ou pitching agressivo\n✗ NUNCA: mencionar preços ou valores de serviço\n\n## REGRAS DE SAÍDA (JSON)\n\nA saída deve ser OBRIGATORIAMENTE um JSON VÁLIDO:\n- Aspas duplas em todas as chaves e valores\n- Sem texto antes ou depois do JSON\n- Exatamente três chaves:\n  - \"to\": e-mail do lead (se disponível nos dados, senão string vazia \"\")\n  - \"subject\": assunto curto, direto, que gere curiosidade (sem clickbait)\n  - \"message\": texto completo do e-mail em parágrafo corrido, pronto para envio\n\nFormato exato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\n```\n\n---\n\nINSTRUÇÃO INICIAL OBRIGATÓRIA:\nAntes de gerar o e-mail, use a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial. Busque por \"script outbound\", \"first approach\" ou \"prospecção email\".\n\nApós consultar o script, gere o JSON do e-mail seguindo as instruções do System Message e as diretrizes encontradas no script.\n\n---\n\n## Notas de Implementação\n\n1. **Ferramenta de Vector Store**: O agente deve ter acesso ao \"Supabase Vector Store\" tool para consultar o script. Isso já está configurado no workflow (verifiquei que existe a conexão `Supabase Vector Store` → `Email Agent1`).\n\n2. **Assinatura**: Ajuste a assinatura no final do e-mail conforme quem vai enviar (ex: \"João - Drone Livre\")."
         }
       },
       "id": "8240957e-2225-43f3-84d7-ae1d2a52c508",
       "name": "Email Agent1",
       "type": "@n8n/n8n-nodes-langchain.agent",
       "position": [
         544,
         -48
       ],
       "typeVersion": 3
     },
     {
       "parameters": {
         "promptType": "define",
         "text": "=Com base nos dados abaixo vindos da nossa base (Supabase), gere o JSON do e-mail conforme as instruções do System Message.\n\nDADOS DO LEAD (em JSON):\n- Nome: {{ $json.Nome }}\n- Email: {{ $json.Email }}\n- Cargo: {{ $json.Cargo }}\n- Empresa: {{ $json.Empresa }}\n- url_linkedin: {{ $json['URL Linkedin'] }}\n- company_domain: {{ $json['URL da Empresa'] }}\n- Setor: {{ $json.Setor }}\n- Endereço: {{ $json.Endereco }}\n- company_linkedin: {{ $json['Linkedin da Empresa'] }}\n- Keywords: {{ $json.Keywords }}\n- company_description: {{ $json['Descricao da Empresa'] }}\n- tools_used: {{ $json['Ferramentas Usadas'] }}\n\nINSTRUÇÕES ESPECÍFICAS:\n- A chave \"to\" deve usar o e-mail do lead presente nos dados (por exemplo, o campo \"Email\" ou equivalente).\n- Se não houver e-mail disponível, deixe \"to\" como string vazia: \"\".\n- \"subject\" deve ser curto, claro e relacionado à dor/oportunidade do lead.\n- \"message\" deve ser um texto corrido, humano, sem listas, pronto para envio.\n\nLembre-se:\n- A saída deve ser SOMENTE o JSON, exatamente no formato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\nSem qualquer texto adicional fora desse JSON.\n",
         "hasOutputParser": true,
         "needsFallback": true,
         "options": {
           "systemMessage": "=Você é um agente de prospecção outbound da Drone Livre, especialista em copywriting humano, consultivo e personalizado. Sua função é escrever e-mails de first approach para decisores de PMEs, com o objetivo de agendar uma reunião.\n\n═══════════════════════════════════════════════════════════════════\nREGRA OBRIGATÓRIA - CONSULTA AO SCRIPT\n═══════════════════════════════════════════════════════════════════\nANTES de gerar qualquer e-mail, você DEVE OBRIGATORIAMENTE usar a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial da Drone. Busque por termos como \"script email\", \"abordagem outbound\", \"first approach\" ou \"prospecção\". O script contém diretrizes específicas, exemplos de mensagens e melhores práticas que você DEVE seguir na criação do e-mail.\n\nSe não encontrar o script ou a consulta falhar, informe no output e utilize as diretrizes abaixo como base.\n\nSEMPRE INSERIR QUEBRA LINHAS CONSTANTES COM DOIS PARÁGRAFOS DE \"\\n\" APÓS A CONCLUSÃO DE UM ARGUMENTO (HTML NECESSÁRIO PARA O NODE SEGUINTE DE ENVIO DE EMAIL). NUNCA FAZER TEXTO UNICO CORRIDO NO CAMPO DE MENSAGEM \"message\"!\n\nEM TODOS OS CASOS, TERMINAR COM UM CONVITE AO LEAD PARA ELE ACESSAR A NOSSA LANDING PAGE EM \"https://dronelivre.com.br\"\n═══════════════════════════════════════════════════════════════════\n\n## CONTEXTO DA DRONE LIVRE (Drone Liv)\n\nA **Drone Livre** é uma **revendedora certificada DJI**, especializada na **comercialização de drones profissionais e enterprise**, além de oferecer **serviços de manutenção técnica e suporte especializado**.\n\nApós anos atuando no mercado, a empresa **decidiu sair do segmento de drones para hobby**, em função da alta competição e baixa rentabilidade, concentrando seus esforços no **mercado corporativo**, onde há maior previsibilidade, ticket médio mais alto e oportunidades de relacionamento B2B de longo prazo.\n\n**Números de credibilidade:**\n\n* Mais de **R$ 5 milhões em faturamento acumulado** (linha enterprise, exceto Agras)\n* **R$ 710 mil de média mensal** em receita (últimos 11 meses)\n* Presença consolidada no ciclo de **safra agrícola (outubro a abril)**, com foco em venda consultiva\n\n## ESCADA DE VALOR – ESTRUTURA DE PRODUTOS\n\n### **Front-end (entrada)**\n\n* Comercialização de **drones DJI enterprise de entrada** (ex: Mini, modelos intermediários)\n* **Venda consultiva** com foco no diagnóstico das necessidades operacionais\n* Atua como **porta de entrada para empresas** que desejam adotar tecnologia drone\n\n### **Core (principal)**\n\n* Venda de **drones profissionais DJI Enterprise**\n\n  * Ex: Linha Matrice, drones com câmeras térmicas (modelos T/DT)\n  * Processo comercial técnico e complexo\n  * Produto de **alto valor percebido**, com entrega técnica e suporte qualificado\n  * **Margem média: ~3%**, pressionada por descontos, taxas e carga tributária\n\n### **Back-end (complementar)**\n\n* Serviços de **manutenção técnica especializada**\n\n  * Reativado estrategicamente como linha de receita complementar\n  * Potencial forte via buscas orgânicas (Google Meu Negócio)\n  * Atende tanto o segmento empresarial quanto usuários avançados (hob/pro)\n  * Receita complementar não contabilizada no faturamento principal\n\n## FOCO DO CONTATO / PRODUTO-ÂNCORA\n\nO objetivo do contato não é vender o drone diretamente, mas **vender a REUNIÃO com foco consultivo**.\n→ **Foco: Agendar uma conversa técnica para entender as necessidades operacionais do cliente** e apresentar soluções DJI profissionais adequadas.\n\n## ICP – PERFIL IDEAL DE CLIENTE\n\n**Porte:** Empresas com uso intensivo de tecnologia de campo ou infraestrutura, com orçamento para aquisição de equipamentos enterprise\n\n**Setores prioritários:**\n\n* Agronegócio (monitoramento de culturas, pulverização com Agras)\n* Construção civil e infraestrutura\n* Energia e utilities (linhas de transmissão, inspeções)\n* Segurança pública e privada\n* Mapeamento, geoprocessamento e topografia\n\n**Cenário típico do lead:**\n\n* Busca por **ganhos de eficiência operacional** via drones\n* Necessita de **soluções técnicas e confiáveis**\n* Já teve contato com drones, mas quer migrar para soluções profissionais\n* Deseja **manutenção, suporte local e confiança no pós-venda**\n* Preocupação com **retorno sobre investimento e suporte contínuo**\n\n**Decisores principais:**\n\n* Gerente de operações\n* Responsável técnico ou engenheiro de campo\n* CEO / Diretor de tecnologia / Compras\n\n**Influenciadores:**\n\n* Equipe de TI / Engenheiros de projeto\n* Profissionais que já operam drones na empresa\n\n---\n\n## PRINCÍPIOS DA ABORDAGEM (OBRIGATÓRIOS)\n\n1. DEMONSTRE ESCASSEZ (agenda ocupada)\n   - Deixar claro que o diagnóstico é limitado por agenda e por seleção de perfil\n   - Nunca parecer \"disponível demais\" ou desesperado\n\n2. PERSONALIZAÇÃO SEMPRE\n   - PROIBIDO mensagem genérica tipo \"ajudamos empresas a pagar menos impostos\"\n   - Citar: segmento, faturamento aproximado, modelo de operação, dores percebidas\n   - Ex: \"você tem operação em mais de um estado, ICMS costuma ser um ponto crítico...\"\n\n3. VENDA TEMPO, NÃO PRODUTO\n   - Foco em vender a reunião de Diagnóstico.\"\n   - Conduzir para: \"Que tal marcarmos uma conversa rápida (30-40 minutos)? A ideia é entender sua operação, apresentar as possibilidades com DJI Enterprise e, se fizer sentido, te ajudar a estruturar um plano sob medida.\"\n\n4. COMUNICAÇÃO CONSULTIVA\n   - Linguagem de gestor: caixa, margem, risco, competitividade\n   - Evitar tecnicês excessivo\n   - Storytelling com cases e números concretos\n\n## ESTRUTURA DO E-MAIL\n\n1. Saudação direta com nome do lead\n2. Gancho personalizado: o que chamou atenção no perfil/empresa (setor, crescimento, estrutura)\n3. Identificação de dor/oportunidade específica (agro / construção / energia / segurança / mapeamento), onde eficiência e precisão fazem diferença direta no resultado operacional.\n4. Conexão com a Drone Livre de forma breve (credibilidade + proposta de valor)\n5. Assinatura simples\n\n## TOM E ESTILO\n\n✓ Humano, próximo, natural\n✓ Consultivo e inteligente (não vendedor)\n✓ Assertivo mas não agressivo\n✓ Insights que fazem o lead pensar \"isso faz sentido pra mim\"\n\n✗ NUNCA: inventar dados sobre o lead\n✗ NUNCA: ser genérico ou usar templates óbvios\n✗ NUNCA: linguagem robótica ou formal demais\n✗ NUNCA: listas, bullets ou tópicos no corpo do e-mail\n✗ NUNCA: superlativos exagerados ou pitching agressivo\n✗ NUNCA: mencionar preços ou valores de serviço\n\n## REGRAS DE SAÍDA (JSON)\n\nA saída deve ser OBRIGATORIAMENTE um JSON VÁLIDO:\n- Aspas duplas em todas as chaves e valores\n- Sem texto antes ou depois do JSON\n- Exatamente três chaves:\n  - \"to\": e-mail do lead (se disponível nos dados, senão string vazia \"\")\n  - \"subject\": assunto curto, direto, que gere curiosidade (sem clickbait)\n  - \"message\": texto completo do e-mail em parágrafo corrido, pronto para envio\n\nFormato exato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\n```\n\n---\n\nINSTRUÇÃO INICIAL OBRIGATÓRIA:\nAntes de gerar o e-mail, use a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial. Busque por \"script outbound\", \"first approach\" ou \"prospecção email\".\n\nApós consultar o script, gere o JSON do e-mail seguindo as instruções do System Message e as diretrizes encontradas no script.\n\n---\n\n## Notas de Implementação\n\n1. **Ferramenta de Vector Store**: O agente deve ter acesso ao \"Supabase Vector Store\" tool para consultar o script. Isso já está configurado no workflow (verifiquei que existe a conexão `Supabase Vector Store` → `Email Agent1`).\n\n2. **Assinatura**: Ajuste a assinatura no final do e-mail conforme quem vai enviar (ex: \"João - Drone Livre\")."
         }
       },
       "id": "3da6a0c1-c9f8-4764-adbc-65aa2ebd1968",
       "name": "Email Agent2",
       "type": "@n8n/n8n-nodes-langchain.agent",
       "position": [
         560,
         672
       ],
       "typeVersion": 3
     },
     {
       "parameters": {
         "promptType": "define",
         "text": "=Com base nos dados abaixo vindos da nossa base (Supabase), gere o JSON do e-mail conforme as instruções do System Message.\n\nDADOS DO LEAD (em JSON):\n- Nome: {{ $json.Nome }}\n- Email: {{ $json.Email }}\n- Cargo: {{ $json.Cargo }}\n- Empresa: {{ $json.Empresa }}\n- url_linkedin: {{ $json['URL Linkedin'] }}\n- company_domain: {{ $json['URL da Empresa'] }}\n- Setor: {{ $json.Setor }}\n- Endereço: {{ $json.Endereco }}\n- company_linkedin: {{ $json['Linkedin da Empresa'] }}\n- Keywords: {{ $json.Keywords }}\n- company_description: {{ $json['Descricao da Empresa'] }}\n- tools_used: {{ $json['Ferramentas Usadas'] }}\n\nINSTRUÇÕES ESPECÍFICAS:\n- A chave \"to\" deve usar o e-mail do lead presente nos dados (por exemplo, o campo \"Email\" ou equivalente).\n- Se não houver e-mail disponível, deixe \"to\" como string vazia: \"\".\n- \"subject\" deve ser curto, claro e relacionado à dor/oportunidade do lead.\n- \"message\" deve ser um texto corrido, humano, sem listas, pronto para envio.\n\nLembre-se:\n- A saída deve ser SOMENTE o JSON, exatamente no formato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\nSem qualquer texto adicional fora desse JSON.\n",
         "hasOutputParser": true,
         "needsFallback": true,
         "options": {
           "systemMessage": "=Você é um agente de prospecção outbound da Drone Livre, especialista em copywriting humano, consultivo e personalizado. Sua função é escrever e-mails de first approach para decisores de PMEs, com o objetivo de agendar uma reunião.\n\n═══════════════════════════════════════════════════════════════════\nREGRA OBRIGATÓRIA - CONSULTA AO SCRIPT\n═══════════════════════════════════════════════════════════════════\nANTES de gerar qualquer e-mail, você DEVE OBRIGATORIAMENTE usar a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial da Drone. Busque por termos como \"script email\", \"abordagem outbound\", \"first approach\" ou \"prospecção\". O script contém diretrizes específicas, exemplos de mensagens e melhores práticas que você DEVE seguir na criação do e-mail.\n\nSe não encontrar o script ou a consulta falhar, informe no output e utilize as diretrizes abaixo como base.\n\nSEMPRE INSERIR QUEBRA LINHAS CONSTANTES COM DOIS PARÁGRAFOS DE \"\\n\" APÓS A CONCLUSÃO DE UM ARGUMENTO (HTML NECESSÁRIO PARA O NODE SEGUINTE DE ENVIO DE EMAIL). NUNCA FAZER TEXTO UNICO CORRIDO NO CAMPO DE MENSAGEM \"message\"!\n\nEM TODOS OS CASOS, TERMINAR COM UM CONVITE AO LEAD PARA ELE ACESSAR A NOSSA LANDING PAGE EM \"https://dronelivre.com.br\"\n═══════════════════════════════════════════════════════════════════\n\n## CONTEXTO DA DRONE LIVRE (Drone Liv)\n\nA **Drone Livre** é uma **revendedora certificada DJI**, especializada na **comercialização de drones profissionais e enterprise**, além de oferecer **serviços de manutenção técnica e suporte especializado**.\n\nApós anos atuando no mercado, a empresa **decidiu sair do segmento de drones para hobby**, em função da alta competição e baixa rentabilidade, concentrando seus esforços no **mercado corporativo**, onde há maior previsibilidade, ticket médio mais alto e oportunidades de relacionamento B2B de longo prazo.\n\n**Números de credibilidade:**\n\n* Mais de **R$ 5 milhões em faturamento acumulado** (linha enterprise, exceto Agras)\n* **R$ 710 mil de média mensal** em receita (últimos 11 meses)\n* Presença consolidada no ciclo de **safra agrícola (outubro a abril)**, com foco em venda consultiva\n\n## ESCADA DE VALOR – ESTRUTURA DE PRODUTOS\n\n### **Front-end (entrada)**\n\n* Comercialização de **drones DJI enterprise de entrada** (ex: Mini, modelos intermediários)\n* **Venda consultiva** com foco no diagnóstico das necessidades operacionais\n* Atua como **porta de entrada para empresas** que desejam adotar tecnologia drone\n\n### **Core (principal)**\n\n* Venda de **drones profissionais DJI Enterprise**\n\n  * Ex: Linha Matrice, drones com câmeras térmicas (modelos T/DT)\n  * Processo comercial técnico e complexo\n  * Produto de **alto valor percebido**, com entrega técnica e suporte qualificado\n  * **Margem média: ~3%**, pressionada por descontos, taxas e carga tributária\n\n### **Back-end (complementar)**\n\n* Serviços de **manutenção técnica especializada**\n\n  * Reativado estrategicamente como linha de receita complementar\n  * Potencial forte via buscas orgânicas (Google Meu Negócio)\n  * Atende tanto o segmento empresarial quanto usuários avançados (hob/pro)\n  * Receita complementar não contabilizada no faturamento principal\n\n## FOCO DO CONTATO / PRODUTO-ÂNCORA\n\nO objetivo do contato não é vender o drone diretamente, mas **vender a REUNIÃO com foco consultivo**.\n→ **Foco: Agendar uma conversa técnica para entender as necessidades operacionais do cliente** e apresentar soluções DJI profissionais adequadas.\n\n## ICP – PERFIL IDEAL DE CLIENTE\n\n**Porte:** Empresas com uso intensivo de tecnologia de campo ou infraestrutura, com orçamento para aquisição de equipamentos enterprise\n\n**Setores prioritários:**\n\n* Agronegócio (monitoramento de culturas, pulverização com Agras)\n* Construção civil e infraestrutura\n* Energia e utilities (linhas de transmissão, inspeções)\n* Segurança pública e privada\n* Mapeamento, geoprocessamento e topografia\n\n**Cenário típico do lead:**\n\n* Busca por **ganhos de eficiência operacional** via drones\n* Necessita de **soluções técnicas e confiáveis**\n* Já teve contato com drones, mas quer migrar para soluções profissionais\n* Deseja **manutenção, suporte local e confiança no pós-venda**\n* Preocupação com **retorno sobre investimento e suporte contínuo**\n\n**Decisores principais:**\n\n* Gerente de operações\n* Responsável técnico ou engenheiro de campo\n* CEO / Diretor de tecnologia / Compras\n\n**Influenciadores:**\n\n* Equipe de TI / Engenheiros de projeto\n* Profissionais que já operam drones na empresa\n\n---\n\n## PRINCÍPIOS DA ABORDAGEM (OBRIGATÓRIOS)\n\n1. DEMONSTRE ESCASSEZ (agenda ocupada)\n   - Deixar claro que o diagnóstico é limitado por agenda e por seleção de perfil\n   - Nunca parecer \"disponível demais\" ou desesperado\n\n2. PERSONALIZAÇÃO SEMPRE\n   - PROIBIDO mensagem genérica tipo \"ajudamos empresas a pagar menos impostos\"\n   - Citar: segmento, faturamento aproximado, modelo de operação, dores percebidas\n   - Ex: \"você tem operação em mais de um estado, ICMS costuma ser um ponto crítico...\"\n\n3. VENDA TEMPO, NÃO PRODUTO\n   - Foco em vender a reunião de Diagnóstico.\"\n   - Conduzir para: \"Que tal marcarmos uma conversa rápida (30-40 minutos)? A ideia é entender sua operação, apresentar as possibilidades com DJI Enterprise e, se fizer sentido, te ajudar a estruturar um plano sob medida.\"\n\n4. COMUNICAÇÃO CONSULTIVA\n   - Linguagem de gestor: caixa, margem, risco, competitividade\n   - Evitar tecnicês excessivo\n   - Storytelling com cases e números concretos\n\n## ESTRUTURA DO E-MAIL\n\n1. Saudação direta com nome do lead\n2. Gancho personalizado: o que chamou atenção no perfil/empresa (setor, crescimento, estrutura)\n3. Identificação de dor/oportunidade específica (agro / construção / energia / segurança / mapeamento), onde eficiência e precisão fazem diferença direta no resultado operacional.\n4. Conexão com a Drone Livre de forma breve (credibilidade + proposta de valor)\n5. Assinatura simples\n\n## TOM E ESTILO\n\n✓ Humano, próximo, natural\n✓ Consultivo e inteligente (não vendedor)\n✓ Assertivo mas não agressivo\n✓ Insights que fazem o lead pensar \"isso faz sentido pra mim\"\n\n✗ NUNCA: inventar dados sobre o lead\n✗ NUNCA: ser genérico ou usar templates óbvios\n✗ NUNCA: linguagem robótica ou formal demais\n✗ NUNCA: listas, bullets ou tópicos no corpo do e-mail\n✗ NUNCA: superlativos exagerados ou pitching agressivo\n✗ NUNCA: mencionar preços ou valores de serviço\n\n## REGRAS DE SAÍDA (JSON)\n\nA saída deve ser OBRIGATORIAMENTE um JSON VÁLIDO:\n- Aspas duplas em todas as chaves e valores\n- Sem texto antes ou depois do JSON\n- Exatamente três chaves:\n  - \"to\": e-mail do lead (se disponível nos dados, senão string vazia \"\")\n  - \"subject\": assunto curto, direto, que gere curiosidade (sem clickbait)\n  - \"message\": texto completo do e-mail em parágrafo corrido, pronto para envio\n\nFormato exato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\n```\n\n---\n\nINSTRUÇÃO INICIAL OBRIGATÓRIA:\nAntes de gerar o e-mail, use a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial. Busque por \"script outbound\", \"first approach\" ou \"prospecção email\".\n\nApós consultar o script, gere o JSON do e-mail seguindo as instruções do System Message e as diretrizes encontradas no script.\n\n---\n\n## Notas de Implementação\n\n1. **Ferramenta de Vector Store**: O agente deve ter acesso ao \"Supabase Vector Store\" tool para consultar o script. Isso já está configurado no workflow (verifiquei que existe a conexão `Supabase Vector Store` → `Email Agent1`).\n\n2. **Assinatura**: Ajuste a assinatura no final do e-mail conforme quem vai enviar (ex: \"João - Drone Livre\")."
         }
       },
       "id": "3da23e59-b618-43c1-ab0f-41509865db95",
       "name": "Email Agent3",
       "type": "@n8n/n8n-nodes-langchain.agent",
       "position": [
         544,
         1104
       ],
       "typeVersion": 3
     },
     {
       "parameters": {
         "promptType": "define",
         "text": "=Com base nos dados abaixo vindos da nossa base (Supabase), gere o JSON do e-mail conforme as instruções do System Message.\n\nDADOS DO LEAD (em JSON):\n- Nome: {{ $json.Nome }}\n- Email: {{ $json.Email }}\n- Cargo: {{ $json.Cargo }}\n- Empresa: {{ $json.Empresa }}\n- url_linkedin: {{ $json['URL Linkedin'] }}\n- company_domain: {{ $json['URL da Empresa'] }}\n- Setor: {{ $json.Setor }}\n- Endereço: {{ $json.Endereco }}\n- company_linkedin: {{ $json['Linkedin da Empresa'] }}\n- Keywords: {{ $json.Keywords }}\n- company_description: {{ $json['Descricao da Empresa'] }}\n- tools_used: {{ $json['Ferramentas Usadas'] }}\n\nINSTRUÇÕES ESPECÍFICAS:\n- A chave \"to\" deve usar o e-mail do lead presente nos dados (por exemplo, o campo \"Email\" ou equivalente).\n- Se não houver e-mail disponível, deixe \"to\" como string vazia: \"\".\n- \"subject\" deve ser curto, claro e relacionado à dor/oportunidade do lead.\n- \"message\" deve ser um texto corrido, humano, sem listas, pronto para envio.\n\nLembre-se:\n- A saída deve ser SOMENTE o JSON, exatamente no formato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\nSem qualquer texto adicional fora desse JSON.\n",
         "hasOutputParser": true,
         "needsFallback": true,
         "options": {
           "systemMessage": "=Você é um agente de prospecção outbound da Drone Livre, especialista em copywriting humano, consultivo e personalizado. Sua função é escrever e-mails de first approach para decisores de PMEs, com o objetivo de agendar uma reunião.\n\n═══════════════════════════════════════════════════════════════════\nREGRA OBRIGATÓRIA - CONSULTA AO SCRIPT\n═══════════════════════════════════════════════════════════════════\nANTES de gerar qualquer e-mail, você DEVE OBRIGATORIAMENTE usar a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial da Drone. Busque por termos como \"script email\", \"abordagem outbound\", \"first approach\" ou \"prospecção\". O script contém diretrizes específicas, exemplos de mensagens e melhores práticas que você DEVE seguir na criação do e-mail.\n\nSe não encontrar o script ou a consulta falhar, informe no output e utilize as diretrizes abaixo como base.\n\nSEMPRE INSERIR QUEBRA LINHAS CONSTANTES COM DOIS PARÁGRAFOS DE \"\\n\" APÓS A CONCLUSÃO DE UM ARGUMENTO (HTML NECESSÁRIO PARA O NODE SEGUINTE DE ENVIO DE EMAIL). NUNCA FAZER TEXTO UNICO CORRIDO NO CAMPO DE MENSAGEM \"message\"!\n\nEM TODOS OS CASOS, TERMINAR COM UM CONVITE AO LEAD PARA ELE ACESSAR A NOSSA LANDING PAGE EM \"https://dronelivre.com.br\"\n═══════════════════════════════════════════════════════════════════\n\n## CONTEXTO DA DRONE LIVRE (Drone Liv)\n\nA **Drone Livre** é uma **revendedora certificada DJI**, especializada na **comercialização de drones profissionais e enterprise**, além de oferecer **serviços de manutenção técnica e suporte especializado**.\n\nApós anos atuando no mercado, a empresa **decidiu sair do segmento de drones para hobby**, em função da alta competição e baixa rentabilidade, concentrando seus esforços no **mercado corporativo**, onde há maior previsibilidade, ticket médio mais alto e oportunidades de relacionamento B2B de longo prazo.\n\n**Números de credibilidade:**\n\n* Mais de **R$ 5 milhões em faturamento acumulado** (linha enterprise, exceto Agras)\n* **R$ 710 mil de média mensal** em receita (últimos 11 meses)\n* Presença consolidada no ciclo de **safra agrícola (outubro a abril)**, com foco em venda consultiva\n\n## ESCADA DE VALOR – ESTRUTURA DE PRODUTOS\n\n### **Front-end (entrada)**\n\n* Comercialização de **drones DJI enterprise de entrada** (ex: Mini, modelos intermediários)\n* **Venda consultiva** com foco no diagnóstico das necessidades operacionais\n* Atua como **porta de entrada para empresas** que desejam adotar tecnologia drone\n\n### **Core (principal)**\n\n* Venda de **drones profissionais DJI Enterprise**\n\n  * Ex: Linha Matrice, drones com câmeras térmicas (modelos T/DT)\n  * Processo comercial técnico e complexo\n  * Produto de **alto valor percebido**, com entrega técnica e suporte qualificado\n  * **Margem média: ~3%**, pressionada por descontos, taxas e carga tributária\n\n### **Back-end (complementar)**\n\n* Serviços de **manutenção técnica especializada**\n\n  * Reativado estrategicamente como linha de receita complementar\n  * Potencial forte via buscas orgânicas (Google Meu Negócio)\n  * Atende tanto o segmento empresarial quanto usuários avançados (hob/pro)\n  * Receita complementar não contabilizada no faturamento principal\n\n## FOCO DO CONTATO / PRODUTO-ÂNCORA\n\nO objetivo do contato não é vender o drone diretamente, mas **vender a REUNIÃO com foco consultivo**.\n→ **Foco: Agendar uma conversa técnica para entender as necessidades operacionais do cliente** e apresentar soluções DJI profissionais adequadas.\n\n## ICP – PERFIL IDEAL DE CLIENTE\n\n**Porte:** Empresas com uso intensivo de tecnologia de campo ou infraestrutura, com orçamento para aquisição de equipamentos enterprise\n\n**Setores prioritários:**\n\n* Agronegócio (monitoramento de culturas, pulverização com Agras)\n* Construção civil e infraestrutura\n* Energia e utilities (linhas de transmissão, inspeções)\n* Segurança pública e privada\n* Mapeamento, geoprocessamento e topografia\n\n**Cenário típico do lead:**\n\n* Busca por **ganhos de eficiência operacional** via drones\n* Necessita de **soluções técnicas e confiáveis**\n* Já teve contato com drones, mas quer migrar para soluções profissionais\n* Deseja **manutenção, suporte local e confiança no pós-venda**\n* Preocupação com **retorno sobre investimento e suporte contínuo**\n\n**Decisores principais:**\n\n* Gerente de operações\n* Responsável técnico ou engenheiro de campo\n* CEO / Diretor de tecnologia / Compras\n\n**Influenciadores:**\n\n* Equipe de TI / Engenheiros de projeto\n* Profissionais que já operam drones na empresa\n\n---\n\n## PRINCÍPIOS DA ABORDAGEM (OBRIGATÓRIOS)\n\n1. DEMONSTRE ESCASSEZ (agenda ocupada)\n   - Deixar claro que o diagnóstico é limitado por agenda e por seleção de perfil\n   - Nunca parecer \"disponível demais\" ou desesperado\n\n2. PERSONALIZAÇÃO SEMPRE\n   - PROIBIDO mensagem genérica tipo \"ajudamos empresas a pagar menos impostos\"\n   - Citar: segmento, faturamento aproximado, modelo de operação, dores percebidas\n   - Ex: \"você tem operação em mais de um estado, ICMS costuma ser um ponto crítico...\"\n\n3. VENDA TEMPO, NÃO PRODUTO\n   - Foco em vender a reunião de Diagnóstico.\"\n   - Conduzir para: \"Que tal marcarmos uma conversa rápida (30-40 minutos)? A ideia é entender sua operação, apresentar as possibilidades com DJI Enterprise e, se fizer sentido, te ajudar a estruturar um plano sob medida.\"\n\n4. COMUNICAÇÃO CONSULTIVA\n   - Linguagem de gestor: caixa, margem, risco, competitividade\n   - Evitar tecnicês excessivo\n   - Storytelling com cases e números concretos\n\n## ESTRUTURA DO E-MAIL\n\n1. Saudação direta com nome do lead\n2. Gancho personalizado: o que chamou atenção no perfil/empresa (setor, crescimento, estrutura)\n3. Identificação de dor/oportunidade específica (agro / construção / energia / segurança / mapeamento), onde eficiência e precisão fazem diferença direta no resultado operacional.\n4. Conexão com a Drone Livre de forma breve (credibilidade + proposta de valor)\n5. Assinatura simples\n\n## TOM E ESTILO\n\n✓ Humano, próximo, natural\n✓ Consultivo e inteligente (não vendedor)\n✓ Assertivo mas não agressivo\n✓ Insights que fazem o lead pensar \"isso faz sentido pra mim\"\n\n✗ NUNCA: inventar dados sobre o lead\n✗ NUNCA: ser genérico ou usar templates óbvios\n✗ NUNCA: linguagem robótica ou formal demais\n✗ NUNCA: listas, bullets ou tópicos no corpo do e-mail\n✗ NUNCA: superlativos exagerados ou pitching agressivo\n✗ NUNCA: mencionar preços ou valores de serviço\n\n## REGRAS DE SAÍDA (JSON)\n\nA saída deve ser OBRIGATORIAMENTE um JSON VÁLIDO:\n- Aspas duplas em todas as chaves e valores\n- Sem texto antes ou depois do JSON\n- Exatamente três chaves:\n  - \"to\": e-mail do lead (se disponível nos dados, senão string vazia \"\")\n  - \"subject\": assunto curto, direto, que gere curiosidade (sem clickbait)\n  - \"message\": texto completo do e-mail em parágrafo corrido, pronto para envio\n\nFormato exato:\n{\n  \"to\": \"<email do lead>\",\n  \"subject\": \"<assunto do e-mail>\",\n  \"message\": \"<mensagem completa do e-mail em parágrafo corrido>\"\n}\n```\n\n---\n\nINSTRUÇÃO INICIAL OBRIGATÓRIA:\nAntes de gerar o e-mail, use a ferramenta de consulta à base vetorizada do Supabase para buscar o script de abordagem comercial. Busque por \"script outbound\", \"first approach\" ou \"prospecção email\".\n\nApós consultar o script, gere o JSON do e-mail seguindo as instruções do System Message e as diretrizes encontradas no script.\n\n---\n\n## Notas de Implementação\n\n1. **Ferramenta de Vector Store**: O agente deve ter acesso ao \"Supabase Vector Store\" tool para consultar o script. Isso já está configurado no workflow (verifiquei que existe a conexão `Supabase Vector Store` → `Email Agent1`).\n\n2. **Assinatura**: Ajuste a assinatura no final do e-mail conforme quem vai enviar (ex: \"João - Drone Livre\")."
         }
       },
       "id": "589e2694-f84d-4268-90bf-126387184a1c",
       "name": "Email Agent4",
       "type": "@n8n/n8n-nodes-langchain.agent",
       "position": [
         512,
         1584
       ],
       "typeVersion": 3
     },
     {
       "parameters": {
         "operation": "update",
         "tableId": "qualified_leads_jobs_offers",
         "filters": {
           "conditions": [
             {
               "keyName": "Email",
               "condition": "eq",
               "keyValue": "={{ $('Email Agent1').item.json.output.to }}"
             }
           ]
         },
         "fieldsUi": {
           "fieldValues": [
             {
               "fieldId": "Data Mensagem Email",
               "fieldValue": "={{ $now }}"
             },
             {
               "fieldId": "Mensagem Enviada Email",
               "fieldValue": "={{ $('Email Agent1').item.json.output.subject + '\\n\\n' + $('Email Agent1').item.json.output.message}}"
             }
           ]
         }
       },
       "id": "1c32cc66-f35e-46f8-a59c-4ca57e19d207",
       "name": "Update a row",
       "type": "n8n-nodes-base.supabase",
       "position": [
         1376,
         -48
       ],
       "typeVersion": 1,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "operation": "update",
         "tableId": "qualified_leads_jobs_offers",
         "filters": {
           "conditions": [
             {
               "keyName": "Email",
               "condition": "eq",
               "keyValue": "={{ $('Email Agent').item.json.output.to }}"
             }
           ]
         },
         "fieldsUi": {
           "fieldValues": [
             {
               "fieldId": "Data Mensagem Email",
               "fieldValue": "={{ $now }}"
             },
             {
               "fieldId": "Mensagem Enviada Email",
               "fieldValue": "={{ $('Email Agent').item.json.output.subject + '\\n\\n' + $('Email Agent').item.json.output.message}}"
             }
           ]
         }
       },
       "id": "cf6d9542-27bc-49d2-8b19-05dfd88a899c",
       "name": "Update a row1",
       "type": "n8n-nodes-base.supabase",
       "position": [
         1376,
         288
       ],
       "typeVersion": 1,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "operation": "update",
         "tableId": "qualified_leads_jobs_offers",
         "filters": {
           "conditions": [
             {
               "keyName": "Email",
               "condition": "eq",
               "keyValue": "={{ $('Email Agent3').item.json.output.to }}"
             }
           ]
         },
         "fieldsUi": {
           "fieldValues": [
             {
               "fieldId": "Data Mensagem Email",
               "fieldValue": "={{ $now }}"
             },
             {
               "fieldId": "Mensagem Enviada Email",
               "fieldValue": "={{ $('Email Agent3').item.json.output.subject + '\\n\\n' + $('Email Agent3').item.json.output.message}}"
             }
           ]
         }
       },
       "id": "f9f73076-2883-4845-ad23-aa7e20f95623",
       "name": "Update a row2",
       "type": "n8n-nodes-base.supabase",
       "position": [
         1376,
         1104
       ],
       "typeVersion": 1,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "operation": "update",
         "tableId": "qualified_leads_jobs_offers",
         "filters": {
           "conditions": [
             {
               "keyName": "Email",
               "condition": "eq",
               "keyValue": "={{ $('Email Agent2').item.json.output.to }}"
             }
           ]
         },
         "fieldsUi": {
           "fieldValues": [
             {
               "fieldId": "Data Mensagem Email",
               "fieldValue": "={{ $now }}"
             },
             {
               "fieldId": "Mensagem Enviada Email",
               "fieldValue": "={{ $('Email Agent2').item.json.output.subject + '\\n\\n' + $('Email Agent2').item.json.output.message}}"
             }
           ]
         }
       },
       "id": "8d44171f-2318-434c-8186-0b0c159c4011",
       "name": "Update a row3",
       "type": "n8n-nodes-base.supabase",
       "position": [
         1360,
         672
       ],
       "typeVersion": 1,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "operation": "update",
         "tableId": "qualified_leads_jobs_offers",
         "filters": {
           "conditions": [
             {
               "keyName": "Email",
               "condition": "eq",
               "keyValue": "={{ $('Email Agent4').item.json.output.to }}"
             }
           ]
         },
         "fieldsUi": {
           "fieldValues": [
             {
               "fieldId": "Data Mensagem Email",
               "fieldValue": "={{ $now }}"
             },
             {
               "fieldId": "Mensagem Enviada Email",
               "fieldValue": "={{ $('Email Agent4').item.json.output.subject + '\\n\\n' + $('Email Agent4').item.json.output.message}}"
             }
           ]
         }
       },
       "id": "dcce1778-5edd-400c-bbad-7c0acd23c74d",
       "name": "Update a row4",
       "type": "n8n-nodes-base.supabase",
       "position": [
         1376,
         1584
       ],
       "typeVersion": 1,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "content": "## Loop trought the mailboxes to send each email at a time",
         "height": 2208,
         "width": 2112,
         "color": 6
       },
       "id": "63940014-a25b-491a-988a-7aa55384cc59",
       "name": "Sticky Note1",
       "type": "n8n-nodes-base.stickyNote",
       "position": [
         -64,
         -112
       ],
       "typeVersion": 1
     },
     {
       "parameters": {
         "sortFieldsUi": {
           "sortField": [
             {
               "fieldName": "Data Mensagem LinkedIn",
               "order": "descending"
             }
           ]
         },
         "options": {}
       },
       "id": "cfed8042-6c93-458f-aea3-84d1cd0608a4",
       "name": "Sort",
       "type": "n8n-nodes-base.sort",
       "position": [
         -832,
         672
       ],
       "typeVersion": 1
     },
     {
       "parameters": {
         "conditions": {
           "options": {
             "caseSensitive": true,
             "leftValue": "",
             "typeValidation": "strict",
             "version": 2
           },
           "conditions": [
             {
               "id": "1d8725b5-ed8d-46a1-a6a8-26a5e28ff31b",
               "leftValue": "={{ $json['Mensagem Enviada Email'] }}",
               "rightValue": "",
               "operator": {
                 "type": "string",
                 "operation": "empty",
                 "singleValue": true
               }
             }
           ],
           "combinator": "and"
         },
         "options": {}
       },
       "id": "930539e4-f9e5-4d1d-ace6-714b7f4696c8",
       "name": "If5",
       "type": "n8n-nodes-base.if",
       "position": [
         -240,
         480
       ],
       "typeVersion": 2.2
     },
     {
       "parameters": {
         "content": "## Get Database",
         "height": 464,
         "width": 1008,
         "color": 7
       },
       "id": "027c232a-f1c4-4352-b938-7617c50af75b",
       "name": "Sticky Note2",
       "type": "n8n-nodes-base.stickyNote",
       "position": [
         -1088,
         400
       ],
       "typeVersion": 1
     },
     {
       "parameters": {
         "maxItems": 25,
         "keep": "lastItems"
       },
       "id": "22fa6228-5002-46ee-87f2-b2e4ae3c9d30",
       "name": "Limit6",
       "type": "n8n-nodes-base.limit",
       "position": [
         -640,
         672
       ],
       "typeVersion": 1
     },
     {
       "parameters": {
         "mode": "retrieve-as-tool",
         "toolDescription": "'database': SEMPRE use essa tool para pegar conhecimento e contexto.",
         "tableName": {
           "__rl": true,
           "value": "documents_email",
           "mode": "list",
           "cachedResultName": "documents_email"
         },
         "useReranker": true,
         "options": {
           "queryName": "match_documents_email"
         }
       },
       "id": "6c3682e5-fb58-4f84-aa3d-e401d39aafc7",
       "name": "CONSULTA AO SCRIPT",
       "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
       "position": [
         848,
         464
       ],
       "typeVersion": 1.3,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "mode": "retrieve-as-tool",
         "toolDescription": "'database': SEMPRE use essa tool para pegar conhecimento e contexto.",
         "tableName": {
           "__rl": true,
           "value": "documents_email",
           "mode": "list",
           "cachedResultName": "documents_email"
         },
         "useReranker": true,
         "options": {
           "queryName": "match_documents_email"
         }
       },
       "id": "b7e029a6-ba11-420c-8e23-4e889e5b2eae",
       "name": "CONSULTA AO SCRIPT1",
       "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
       "position": [
         848,
         144
       ],
       "typeVersion": 1.3,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "5fbfd2bf-53ce-4900-a102-a61289af6dc7",
       "name": "Embeddings OpenAI",
       "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
       "position": [
         864,
         576
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "1275bb60-768e-42e9-a68f-9cc22ce3a1b0",
       "name": "Embeddings OpenAI1",
       "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
       "position": [
         864,
         176
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "mode": "retrieve-as-tool",
         "toolDescription": "'database': SEMPRE use essa tool para pegar conhecimento e contexto.",
         "tableName": {
           "__rl": true,
           "value": "documents_email",
           "mode": "list",
           "cachedResultName": "documents_email"
         },
         "useReranker": true,
         "options": {
           "queryName": "match_documents_email"
         }
       },
       "id": "ad52b311-607a-4550-bbfe-ff5bb62f5380",
       "name": "CONSULTA AO SCRIPT2",
       "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
       "position": [
         896,
         1760
       ],
       "typeVersion": 1.3,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "9fb71e06-a530-4394-a6ba-ffd1f50d560f",
       "name": "Embeddings OpenAI2",
       "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
       "position": [
         992,
         1968
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "mode": "retrieve-as-tool",
         "toolDescription": "'database': SEMPRE use essa tool para pegar conhecimento e contexto.",
         "tableName": {
           "__rl": true,
           "value": "documents_email",
           "mode": "list",
           "cachedResultName": "documents_email"
         },
         "useReranker": true,
         "options": {
           "queryName": "match_documents_email"
         }
       },
       "id": "fad9d29f-c666-4ffd-bb06-2ecd2c5eb831",
       "name": "CONSULTA AO SCRIPT3",
       "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
       "position": [
         928,
         864
       ],
       "typeVersion": 1.3,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "mode": "retrieve-as-tool",
         "toolDescription": "'database': SEMPRE use essa tool para pegar conhecimento e contexto.",
         "tableName": {
           "__rl": true,
           "value": "documents_email",
           "mode": "list",
           "cachedResultName": "documents_email"
         },
         "useReranker": true,
         "options": {
           "queryName": "match_documents_email"
         }
       },
       "id": "bc66569c-a962-4782-ba2f-768d3052f497",
       "name": "CONSULTA AO SCRIPT4",
       "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
       "position": [
         928,
         1296
       ],
       "typeVersion": 1.3,
       "credentials": {
         "supabaseApi": {
           "id": "LZfJPVmUc6wxgUeC",
           "name": "Development"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "601d288f-b67f-457f-8320-a50ecdc773f1",
       "name": "Embeddings OpenAI3",
       "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
       "position": [
         672,
         1424
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "532cdc28-08c7-4710-88d1-700ef8615ded",
       "name": "Embeddings OpenAI4",
       "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
       "position": [
         944,
         992
       ],
       "typeVersion": 1.2,
       "credentials": {
         "openAiApi": {
           "id": "BXbkjv1NGXfEl80y",
           "name": "OpenAi | NeuroManage"
         }
       }
     },
     {
       "parameters": {},
       "id": "9dad8a59-c628-4e58-aa19-fe22af7d27a7",
       "name": "Reranker Cohere",
       "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
       "position": [
         1024,
         576
       ],
       "typeVersion": 1,
       "credentials": {
         "cohereApi": {
           "id": "ZmZsjFCG1rznW9sE",
           "name": "CohereApi | Vitor test"
         }
       }
     },
     {
       "parameters": {},
       "id": "b50a6f06-a744-417f-a00d-5a42c4539537",
       "name": "Reranker Cohere1",
       "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
       "position": [
         992,
         192
       ],
       "typeVersion": 1,
       "credentials": {
         "cohereApi": {
           "id": "ZmZsjFCG1rznW9sE",
           "name": "CohereApi | Vitor test"
         }
       }
     },
     {
       "parameters": {},
       "id": "c5581682-e2c8-48d7-8e44-60c4898f23a9",
       "name": "Reranker Cohere2",
       "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
       "position": [
         1136,
         1968
       ],
       "typeVersion": 1,
       "credentials": {
         "cohereApi": {
           "id": "ZmZsjFCG1rznW9sE",
           "name": "CohereApi | Vitor test"
         }
       }
     },
     {
       "parameters": {},
       "id": "eb1c53b9-3703-4d61-be1d-27f7af5318f8",
       "name": "Reranker Cohere3",
       "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
       "position": [
         864,
         1424
       ],
       "typeVersion": 1,
       "credentials": {
         "cohereApi": {
           "id": "ZmZsjFCG1rznW9sE",
           "name": "CohereApi | Vitor test"
         }
       }
     },
     {
       "parameters": {},
       "id": "fc4ded12-d90f-4068-9a10-9c23c826bff7",
       "name": "Reranker Cohere4",
       "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
       "position": [
         1088,
         992
       ],
       "typeVersion": 1,
       "credentials": {
         "cohereApi": {
           "id": "ZmZsjFCG1rznW9sE",
           "name": "CohereApi | Vitor test"
         }
       }
     },
     {
       "parameters": {
         "rules": {
           "values": [
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "strict",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "leftValue": "={{ $json.emailIndex }}",
                     "rightValue": 0,
                     "operator": {
                       "type": "number",
                       "operation": "equals"
                     },
                     "id": "eba01ad5-4e02-4c9a-934e-9704153db035"
                   }
                 ],
                 "combinator": "and"
               }
             },
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "strict",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "id": "d461d2fa-cec5-4201-8b4c-ceef4e63fb44",
                     "leftValue": "={{ $json.emailIndex }}",
                     "rightValue": 1,
                     "operator": {
                       "type": "number",
                       "operation": "equals"
                     }
                   }
                 ],
                 "combinator": "and"
               }
             },
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "strict",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "id": "c5eff1bc-66a8-442e-97e4-b5634f6f7dc7",
                     "leftValue": "={{ $json.emailIndex }}",
                     "rightValue": 2,
                     "operator": {
                       "type": "number",
                       "operation": "equals"
                     }
                   }
                 ],
                 "combinator": "and"
               }
             },
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "strict",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "id": "da7277ca-30e5-4b60-bded-7d002a210cc2",
                     "leftValue": "={{ $json.emailIndex }}",
                     "rightValue": 3,
                     "operator": {
                       "type": "number",
                       "operation": "equals"
                     }
                   }
                 ],
                 "combinator": "and"
               }
             },
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "strict",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "id": "f3d92682-7908-4412-b179-f8d60deba3e6",
                     "leftValue": "={{ $json.emailIndex }}",
                     "rightValue": 4,
                     "operator": {
                       "type": "number",
                       "operation": "equals"
                     }
                   }
                 ],
                 "combinator": "and"
               }
             }
           ]
         },
         "options": {}
       },
       "id": "52897b12-bec5-4e80-804f-eaedfe1f8ef7",
       "name": "Switch",
       "type": "n8n-nodes-base.switch",
       "position": [
         -48,
         640
       ],
       "typeVersion": 3.3
     },
     {
       "parameters": {
         "jsCode": "const items = $input.all();\n\n// Mapeia o índice para o nome da conta (opcional, útil para debug)\nconst emailAccounts = [\n  \"fabio.ferraz@getttco.com\",      // emailIndex 0\n  \"fabio.ferraz@ttcohub.com\",             // emailIndex 1\n  \"fabio@getttco.com\",             // emailIndex 2\n  \"fabio@ttcohub.com\",             // emailIndex 3\n  \"fabioferraz@getttco.com\"              // emailIndex 4\n];\n\n// Atribui o índice de rotação para cada item\nreturn items.map((item, index) => ({\n  json: {\n    ...item.json,\n    emailIndex: index % 5,  // 0, 1, 2, 3, 4, 0, 1, 2, 3, 4...\n    emailAccount: emailAccounts[index % 5],\n    iterationNumber: index + 1\n  }\n}));"
       },
       "id": "5eda6bb0-9f7e-4568-8ec3-00d87574634a",
       "name": "Add index to each item",
       "type": "n8n-nodes-base.code",
       "position": [
         -448,
         672
       ],
       "typeVersion": 2
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "f37a3f18-47ef-49b8-adbd-fb93f87a6749",
       "name": "Loop Over Items6",
       "type": "n8n-nodes-base.splitInBatches",
       "position": [
         -256,
         672
       ],
       "typeVersion": 3
     },
     {
       "parameters": {
         "conditions": {
           "options": {
             "caseSensitive": true,
             "leftValue": "",
             "typeValidation": "strict",
             "version": 2
           },
           "conditions": [
             {
               "id": "1d8725b5-ed8d-46a1-a6a8-26a5e28ff31b",
               "leftValue": "={{ $json['Mensagem Enviada Email'] }}",
               "rightValue": "",
               "operator": {
                 "type": "string",
                 "operation": "empty",
                 "singleValue": true
               }
             }
           ],
           "combinator": "and"
         },
         "options": {}
       },
       "id": "cdd32e05-0593-49ed-b720-b561ed138ce3",
       "name": "If",
       "type": "n8n-nodes-base.if",
       "position": [
         288,
         -32
       ],
       "typeVersion": 2.2
     },
     {
       "parameters": {
         "conditions": {
           "options": {
             "caseSensitive": true,
             "leftValue": "",
             "typeValidation": "strict",
             "version": 2
           },
           "conditions": [
             {
               "id": "1d8725b5-ed8d-46a1-a6a8-26a5e28ff31b",
               "leftValue": "={{ $json['Mensagem Enviada Email'] }}",
               "rightValue": "",
               "operator": {
                 "type": "string",
                 "operation": "empty",
                 "singleValue": true
               }
             }
           ],
           "combinator": "and"
         },
         "options": {}
       },
       "id": "a8d02fb9-266a-4fbb-89a1-98419f3fe1f3",
       "name": "If1",
       "type": "n8n-nodes-base.if",
       "position": [
         272,
         304
       ],
       "typeVersion": 2.2
     },
     {
       "parameters": {
         "conditions": {
           "options": {
             "caseSensitive": true,
             "leftValue": "",
             "typeValidation": "strict",
             "version": 2
           },
           "conditions": [
             {
               "id": "1d8725b5-ed8d-46a1-a6a8-26a5e28ff31b",
               "leftValue": "={{ $json['Mensagem Enviada Email'] }}",
               "rightValue": "",
               "operator": {
                 "type": "string",
                 "operation": "empty",
                 "singleValue": true
               }
             }
           ],
           "combinator": "and"
         },
         "options": {}
       },
       "id": "675040a9-09c0-4de8-b2b5-2f385a44c81d",
       "name": "If2",
       "type": "n8n-nodes-base.if",
       "position": [
         272,
         688
       ],
       "typeVersion": 2.2
     },
     {
       "parameters": {
         "conditions": {
           "options": {
             "caseSensitive": true,
             "leftValue": "",
             "typeValidation": "strict",
             "version": 2
           },
           "conditions": [
             {
               "id": "1d8725b5-ed8d-46a1-a6a8-26a5e28ff31b",
               "leftValue": "={{ $json['Mensagem Enviada Email'] }}",
               "rightValue": "",
               "operator": {
                 "type": "string",
                 "operation": "empty",
                 "singleValue": true
               }
             }
           ],
           "combinator": "and"
         },
         "options": {}
       },
       "id": "60f9ce95-88f2-41da-a423-64c862c166ee",
       "name": "If3",
       "type": "n8n-nodes-base.if",
       "position": [
         272,
         1120
       ],
       "typeVersion": 2.2
     },
     {
       "parameters": {
         "conditions": {
           "options": {
             "caseSensitive": true,
             "leftValue": "",
             "typeValidation": "strict",
             "version": 2
           },
           "conditions": [
             {
               "id": "1d8725b5-ed8d-46a1-a6a8-26a5e28ff31b",
               "leftValue": "={{ $json['Mensagem Enviada Email'] }}",
               "rightValue": "",
               "operator": {
                 "type": "string",
                 "operation": "empty",
                 "singleValue": true
               }
             }
           ],
           "combinator": "and"
         },
         "options": {}
       },
       "id": "fea0a880-3911-4d4d-9f31-803d456a4f86",
       "name": "If4",
       "type": "n8n-nodes-base.if",
       "position": [
         272,
         1600
       ],
       "typeVersion": 2.2
     },
     {
       "parameters": {
         "sendTo": "={{ $json.output.to }}",
         "subject": "={{ $json.output.subject }}",
         "message": "={{ $json.output.message.replace(/\\n/g, '<br>') }}",
         "options": {
           "bccList": "vitor.rc@neuromanage.ai",
           "senderName": "Vitor"
         }
       },
       "id": "2ad7f490-94e6-4002-b022-af334eb872b6",
       "name": "Send a message",
       "type": "n8n-nodes-base.gmail",
       "position": [
         1104,
         -48
       ],
       "typeVersion": 2.1,
       "webhookId": "b9866df2-ad74-44ec-a364-d6e8393471d7",
       "credentials": {
         "gmailOAuth2": {
           "id": "5I3FHhI6w2EWBYGS",
           "name": "silva.jair@drone-livre.com"
         }
       }
     },
     {
       "parameters": {
         "sendTo": "={{ $json.output.to}}",
         "subject": "={{ $json.output.subject }}",
         "message": "={{ $json.output.message.replace(/\\n/g, '<br>') }}",
         "options": {
           "bccList": "vitor.rc@neuromanage.ai",
           "senderName": "Vitor"
         }
       },
       "id": "16b8b176-1c22-49c2-bb62-430c063adab9",
       "name": "Send a message1",
       "type": "n8n-nodes-base.gmail",
       "position": [
         1120,
         288
       ],
       "typeVersion": 2.1,
       "webhookId": "e72fa3f3-9139-4db8-be2b-58b7b199c05c",
       "credentials": {
         "gmailOAuth2": {
           "id": "p0fUIoqgD9urSV0b",
           "name": "jair_silva@drone-livre.com"
         }
       }
     },
     {
       "parameters": {
         "sendTo": "={{ $json.output.to}}",
         "subject": "={{ $json.output.subject }}",
         "message": "={{ $json.output.message.replace(/\\n/g, '<br>') }}",
         "options": {
           "bccList": "vitor.rc@neuromanage.ai",
           "senderName": "Vitor"
         }
       },
       "id": "9e1a092b-f00c-4ae7-9500-422df8a4d65f",
       "name": "Send a message2",
       "type": "n8n-nodes-base.gmail",
       "position": [
         1104,
         672
       ],
       "typeVersion": 2.1,
       "webhookId": "dd8e9f48-f5ce-4ccf-b22d-0daade1dd822",
       "credentials": {
         "gmailOAuth2": {
           "id": "RufUdHbBwa63Z7RY",
           "name": "jair.silva@drone-livre.com"
         }
       }
     },
     {
       "parameters": {
         "sendTo": "={{ $json.output.to}}",
         "subject": "={{ $json.output.subject }}",
         "message": "={{ $json.output.message.replace(/\\n/g, '<br>') }}",
         "options": {
           "bccList": "vitor.rc@neuromanage.ai",
           "senderName": "Vitor"
         }
       },
       "id": "ca3b3840-e9cb-419a-a075-126979fa9ca3",
       "name": "Send a message3",
       "type": "n8n-nodes-base.gmail",
       "position": [
         1120,
         1104
       ],
       "typeVersion": 2.1,
       "webhookId": "959ec86b-9579-46c5-b48f-f759e15b1932",
       "credentials": {
         "gmailOAuth2": {
           "id": "5N4YrET8y8G48vxn",
           "name": "jair.silva_drone@drone-livre.com"
         }
       }
     },
     {
       "parameters": {
         "sendTo": "={{ $json.output.to}}",
         "subject": "={{ $json.output.subject }}",
         "message": "={{ $json.output.message.replace(/\\n/g, '<br>') }}",
         "options": {
           "bccList": "vitor.rc@neuromanage.ai",
           "senderName": "Vitor"
         }
       },
       "id": "06ddd319-813c-4764-96db-b7508de89343",
       "name": "Send a message4",
       "type": "n8n-nodes-base.gmail",
       "position": [
         1136,
         1584
       ],
       "typeVersion": 2.1,
       "webhookId": "88e1235f-db54-4050-970f-f7b8ded27bce",
       "credentials": {
         "gmailOAuth2": {
           "id": "OpTI3fDafoJZBBnP",
           "name": "silva_jair@drone-livre.com"
         }
       }
     },
     {
       "parameters": {
         "jsCode": "// ═══════════════════════════════════════════════════════════════════════════════\n// CODE NODE: Formatador de Quebras de Linha para Emails - TT&Co (v2)\n// ═══════════════════════════════════════════════════════════════════════════════\n// Coloque este node ENTRE o Email Agent e o Send a message (Gmail)\n// ═══════════════════════════════════════════════════════════════════════════════\n\nfunction formatEmailWithLineBreaks(message) {\n  // Se já tem quebras de linha suficientes (mais de 3), retorna como está\n  const existingBreaks = (message.match(/\\n/g) || []).length;\n  if (existingBreaks >= 3) {\n    return message;\n  }\n  \n  let formattedMessage = message;\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 1: Separar saudação \"Olá [Nome], tudo bem?\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  // Captura nomes simples ou compostos (Jose Renato, Maria Clara, etc.)\n  formattedMessage = formattedMessage.replace(\n    /^(Olá\\s+[A-Za-zÀ-ÿ]+(?:\\s+[A-Za-zÀ-ÿ]+)?,?\\s*tudo\\s+bem\\s*\\?)\\s*/i,\n    '$1\\n\\n'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 2: Separar após contexto inicial (problema/desafio do setor)\n  // ═══════════════════════════════════════════════════════════════════════════\n  const problemPatterns = [\n    'Empresas de tecnologia',\n    'Empresas como a sua',\n    'Sabemos que empresas',\n    'Sabemos que a complexidade',\n    'Com sua operação',\n    'Notei sua',\n    'Acompanhei o histórico',\n    'Na sua liderança',\n  ];\n  \n  problemPatterns.forEach(pattern => {\n    const regex = new RegExp(`(\\\\.)(\\\\s*)(${pattern})`, 'gi');\n    formattedMessage = formattedMessage.replace(regex, '$1\\n\\n$3');\n  });\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 3: Separar antes de \"A TT&Co\" ou \"Na TT&Co\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Na TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 4: Separar antes do convite/CTA principal\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(por isso gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaríamos de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 5: Separar antes de frases sobre agenda/exclusividade\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A agenda para)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Essa conversa é exclusiva)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Tenho algumas vagas)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 6: Separar antes do fechamento/call-to-action final\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se fizer sentido)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se estiver disponível)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Caso tenha interesse)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 7: Separar assinatura\n  // ═══════════════════════════════════════════════════════════════════════════\n  \n  // Antes de \"Abraço,\" ou \"Até breve!\"\n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Abraço[,.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Até breve[!.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Antes de \"Fabio Ferraz\" quando não precedido por Abraço/Até breve\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fabio Ferraz)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Se tem \"Abraço,\" ou \"Até breve!\" seguido de \"Fabio Ferraz\", linha separada\n  formattedMessage = formattedMessage.replace(\n    /(Abraço[,.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(Até breve[!.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // LIMPEZA FINAL\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(/[ \\t]+\\n/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n[ \\t]+/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n{3,}/g, '\\n\\n');\n  formattedMessage = formattedMessage.trim();\n  \n  return formattedMessage;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════════\n// PROCESSAMENTO PRINCIPAL\n// ═══════════════════════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\nconst results = [];\n\nfor (const item of inputData) {\n  let message = item.json.output?.message || item.json.message || '';\n  let subject = item.json.output?.subject || item.json.subject || '';\n  let to = item.json.output?.to || item.json.to || '';\n  \n  const formattedMessage = formatEmailWithLineBreaks(message);\n  const htmlMessage = formattedMessage.replace(/\\n/g, '<br>');\n  \n  results.push({\n    json: {\n      output: {\n        to: to,\n        subject: subject,\n        message: formattedMessage,\n        messageHtml: htmlMessage\n      },\n      originalMessage: message,\n      wasFormatted: message !== formattedMessage\n    }\n  });\n}\n\nreturn results;"
       },
       "id": "888fb00e-6c25-450f-97f4-f36b92a0a8a0",
       "name": "Code in JavaScript",
       "type": "n8n-nodes-base.code",
       "position": [
         912,
         -48
       ],
       "typeVersion": 2
     },
     {
       "parameters": {
         "jsCode": "// ═══════════════════════════════════════════════════════════════════════════════\n// CODE NODE: Formatador de Quebras de Linha para Emails - TT&Co (v2)\n// ═══════════════════════════════════════════════════════════════════════════════\n// Coloque este node ENTRE o Email Agent e o Send a message (Gmail)\n// ═══════════════════════════════════════════════════════════════════════════════\n\nfunction formatEmailWithLineBreaks(message) {\n  // Se já tem quebras de linha suficientes (mais de 3), retorna como está\n  const existingBreaks = (message.match(/\\n/g) || []).length;\n  if (existingBreaks >= 3) {\n    return message;\n  }\n  \n  let formattedMessage = message;\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 1: Separar saudação \"Olá [Nome], tudo bem?\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  // Captura nomes simples ou compostos (Jose Renato, Maria Clara, etc.)\n  formattedMessage = formattedMessage.replace(\n    /^(Olá\\s+[A-Za-zÀ-ÿ]+(?:\\s+[A-Za-zÀ-ÿ]+)?,?\\s*tudo\\s+bem\\s*\\?)\\s*/i,\n    '$1\\n\\n'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 2: Separar após contexto inicial (problema/desafio do setor)\n  // ═══════════════════════════════════════════════════════════════════════════\n  const problemPatterns = [\n    'Empresas de tecnologia',\n    'Empresas como a sua',\n    'Sabemos que empresas',\n    'Sabemos que a complexidade',\n    'Com sua operação',\n    'Notei sua',\n    'Acompanhei o histórico',\n    'Na sua liderança',\n  ];\n  \n  problemPatterns.forEach(pattern => {\n    const regex = new RegExp(`(\\\\.)(\\\\s*)(${pattern})`, 'gi');\n    formattedMessage = formattedMessage.replace(regex, '$1\\n\\n$3');\n  });\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 3: Separar antes de \"A TT&Co\" ou \"Na TT&Co\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Na TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 4: Separar antes do convite/CTA principal\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(por isso gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaríamos de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 5: Separar antes de frases sobre agenda/exclusividade\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A agenda para)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Essa conversa é exclusiva)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Tenho algumas vagas)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 6: Separar antes do fechamento/call-to-action final\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se fizer sentido)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se estiver disponível)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Caso tenha interesse)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 7: Separar assinatura\n  // ═══════════════════════════════════════════════════════════════════════════\n  \n  // Antes de \"Abraço,\" ou \"Até breve!\"\n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Abraço[,.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Até breve[!.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Antes de \"Fabio Ferraz\" quando não precedido por Abraço/Até breve\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fabio Ferraz)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Se tem \"Abraço,\" ou \"Até breve!\" seguido de \"Fabio Ferraz\", linha separada\n  formattedMessage = formattedMessage.replace(\n    /(Abraço[,.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(Até breve[!.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // LIMPEZA FINAL\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(/[ \\t]+\\n/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n[ \\t]+/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n{3,}/g, '\\n\\n');\n  formattedMessage = formattedMessage.trim();\n  \n  return formattedMessage;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════════\n// PROCESSAMENTO PRINCIPAL\n// ═══════════════════════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\nconst results = [];\n\nfor (const item of inputData) {\n  let message = item.json.output?.message || item.json.message || '';\n  let subject = item.json.output?.subject || item.json.subject || '';\n  let to = item.json.output?.to || item.json.to || '';\n  \n  const formattedMessage = formatEmailWithLineBreaks(message);\n  const htmlMessage = formattedMessage.replace(/\\n/g, '<br>');\n  \n  results.push({\n    json: {\n      output: {\n        to: to,\n        subject: subject,\n        message: formattedMessage,\n        messageHtml: htmlMessage\n      },\n      originalMessage: message,\n      wasFormatted: message !== formattedMessage\n    }\n  });\n}\n\nreturn results;"
       },
       "id": "b5fba9d4-abbf-4bd8-a355-10a5d4682fe3",
       "name": "Code in JavaScript1",
       "type": "n8n-nodes-base.code",
       "position": [
         912,
         288
       ],
       "typeVersion": 2
     },
     {
       "parameters": {
         "jsCode": "// ═══════════════════════════════════════════════════════════════════════════════\n// CODE NODE: Formatador de Quebras de Linha para Emails - TT&Co (v2)\n// ═══════════════════════════════════════════════════════════════════════════════\n// Coloque este node ENTRE o Email Agent e o Send a message (Gmail)\n// ═══════════════════════════════════════════════════════════════════════════════\n\nfunction formatEmailWithLineBreaks(message) {\n  // Se já tem quebras de linha suficientes (mais de 3), retorna como está\n  const existingBreaks = (message.match(/\\n/g) || []).length;\n  if (existingBreaks >= 3) {\n    return message;\n  }\n  \n  let formattedMessage = message;\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 1: Separar saudação \"Olá [Nome], tudo bem?\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  // Captura nomes simples ou compostos (Jose Renato, Maria Clara, etc.)\n  formattedMessage = formattedMessage.replace(\n    /^(Olá\\s+[A-Za-zÀ-ÿ]+(?:\\s+[A-Za-zÀ-ÿ]+)?,?\\s*tudo\\s+bem\\s*\\?)\\s*/i,\n    '$1\\n\\n'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 2: Separar após contexto inicial (problema/desafio do setor)\n  // ═══════════════════════════════════════════════════════════════════════════\n  const problemPatterns = [\n    'Empresas de tecnologia',\n    'Empresas como a sua',\n    'Sabemos que empresas',\n    'Sabemos que a complexidade',\n    'Com sua operação',\n    'Notei sua',\n    'Acompanhei o histórico',\n    'Na sua liderança',\n  ];\n  \n  problemPatterns.forEach(pattern => {\n    const regex = new RegExp(`(\\\\.)(\\\\s*)(${pattern})`, 'gi');\n    formattedMessage = formattedMessage.replace(regex, '$1\\n\\n$3');\n  });\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 3: Separar antes de \"A TT&Co\" ou \"Na TT&Co\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Na TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 4: Separar antes do convite/CTA principal\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(por isso gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaríamos de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 5: Separar antes de frases sobre agenda/exclusividade\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A agenda para)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Essa conversa é exclusiva)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Tenho algumas vagas)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 6: Separar antes do fechamento/call-to-action final\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se fizer sentido)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se estiver disponível)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Caso tenha interesse)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 7: Separar assinatura\n  // ═══════════════════════════════════════════════════════════════════════════\n  \n  // Antes de \"Abraço,\" ou \"Até breve!\"\n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Abraço[,.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Até breve[!.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Antes de \"Fabio Ferraz\" quando não precedido por Abraço/Até breve\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fabio Ferraz)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Se tem \"Abraço,\" ou \"Até breve!\" seguido de \"Fabio Ferraz\", linha separada\n  formattedMessage = formattedMessage.replace(\n    /(Abraço[,.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(Até breve[!.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // LIMPEZA FINAL\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(/[ \\t]+\\n/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n[ \\t]+/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n{3,}/g, '\\n\\n');\n  formattedMessage = formattedMessage.trim();\n  \n  return formattedMessage;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════════\n// PROCESSAMENTO PRINCIPAL\n// ═══════════════════════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\nconst results = [];\n\nfor (const item of inputData) {\n  let message = item.json.output?.message || item.json.message || '';\n  let subject = item.json.output?.subject || item.json.subject || '';\n  let to = item.json.output?.to || item.json.to || '';\n  \n  const formattedMessage = formatEmailWithLineBreaks(message);\n  const htmlMessage = formattedMessage.replace(/\\n/g, '<br>');\n  \n  results.push({\n    json: {\n      output: {\n        to: to,\n        subject: subject,\n        message: formattedMessage,\n        messageHtml: htmlMessage\n      },\n      originalMessage: message,\n      wasFormatted: message !== formattedMessage\n    }\n  });\n}\n\nreturn results;"
       },
       "id": "81aad932-78c4-40e4-b358-2b11544744b4",
       "name": "Code in JavaScript2",
       "type": "n8n-nodes-base.code",
       "position": [
         912,
         672
       ],
       "typeVersion": 2
     },
     {
       "parameters": {
         "jsCode": "// ═══════════════════════════════════════════════════════════════════════════════\n// CODE NODE: Formatador de Quebras de Linha para Emails - TT&Co (v2)\n// ═══════════════════════════════════════════════════════════════════════════════\n// Coloque este node ENTRE o Email Agent e o Send a message (Gmail)\n// ═══════════════════════════════════════════════════════════════════════════════\n\nfunction formatEmailWithLineBreaks(message) {\n  // Se já tem quebras de linha suficientes (mais de 3), retorna como está\n  const existingBreaks = (message.match(/\\n/g) || []).length;\n  if (existingBreaks >= 3) {\n    return message;\n  }\n  \n  let formattedMessage = message;\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 1: Separar saudação \"Olá [Nome], tudo bem?\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  // Captura nomes simples ou compostos (Jose Renato, Maria Clara, etc.)\n  formattedMessage = formattedMessage.replace(\n    /^(Olá\\s+[A-Za-zÀ-ÿ]+(?:\\s+[A-Za-zÀ-ÿ]+)?,?\\s*tudo\\s+bem\\s*\\?)\\s*/i,\n    '$1\\n\\n'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 2: Separar após contexto inicial (problema/desafio do setor)\n  // ═══════════════════════════════════════════════════════════════════════════\n  const problemPatterns = [\n    'Empresas de tecnologia',\n    'Empresas como a sua',\n    'Sabemos que empresas',\n    'Sabemos que a complexidade',\n    'Com sua operação',\n    'Notei sua',\n    'Acompanhei o histórico',\n    'Na sua liderança',\n  ];\n  \n  problemPatterns.forEach(pattern => {\n    const regex = new RegExp(`(\\\\.)(\\\\s*)(${pattern})`, 'gi');\n    formattedMessage = formattedMessage.replace(regex, '$1\\n\\n$3');\n  });\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 3: Separar antes de \"A TT&Co\" ou \"Na TT&Co\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Na TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 4: Separar antes do convite/CTA principal\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(por isso gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaríamos de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 5: Separar antes de frases sobre agenda/exclusividade\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A agenda para)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Essa conversa é exclusiva)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Tenho algumas vagas)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 6: Separar antes do fechamento/call-to-action final\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se fizer sentido)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se estiver disponível)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Caso tenha interesse)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 7: Separar assinatura\n  // ═══════════════════════════════════════════════════════════════════════════\n  \n  // Antes de \"Abraço,\" ou \"Até breve!\"\n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Abraço[,.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Até breve[!.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Antes de \"Fabio Ferraz\" quando não precedido por Abraço/Até breve\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fabio Ferraz)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Se tem \"Abraço,\" ou \"Até breve!\" seguido de \"Fabio Ferraz\", linha separada\n  formattedMessage = formattedMessage.replace(\n    /(Abraço[,.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(Até breve[!.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // LIMPEZA FINAL\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(/[ \\t]+\\n/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n[ \\t]+/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n{3,}/g, '\\n\\n');\n  formattedMessage = formattedMessage.trim();\n  \n  return formattedMessage;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════════\n// PROCESSAMENTO PRINCIPAL\n// ═══════════════════════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\nconst results = [];\n\nfor (const item of inputData) {\n  let message = item.json.output?.message || item.json.message || '';\n  let subject = item.json.output?.subject || item.json.subject || '';\n  let to = item.json.output?.to || item.json.to || '';\n  \n  const formattedMessage = formatEmailWithLineBreaks(message);\n  const htmlMessage = formattedMessage.replace(/\\n/g, '<br>');\n  \n  results.push({\n    json: {\n      output: {\n        to: to,\n        subject: subject,\n        message: formattedMessage,\n        messageHtml: htmlMessage\n      },\n      originalMessage: message,\n      wasFormatted: message !== formattedMessage\n    }\n  });\n}\n\nreturn results;"
       },
       "id": "266dca72-f07b-4bad-8b7e-fdea73c209bc",
       "name": "Code in JavaScript3",
       "type": "n8n-nodes-base.code",
       "position": [
         944,
         1104
       ],
       "typeVersion": 2
     },
     {
       "parameters": {
         "jsCode": "// ═══════════════════════════════════════════════════════════════════════════════\n// CODE NODE: Formatador de Quebras de Linha para Emails - TT&Co (v2)\n// ═══════════════════════════════════════════════════════════════════════════════\n// Coloque este node ENTRE o Email Agent e o Send a message (Gmail)\n// ═══════════════════════════════════════════════════════════════════════════════\n\nfunction formatEmailWithLineBreaks(message) {\n  // Se já tem quebras de linha suficientes (mais de 3), retorna como está\n  const existingBreaks = (message.match(/\\n/g) || []).length;\n  if (existingBreaks >= 3) {\n    return message;\n  }\n  \n  let formattedMessage = message;\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 1: Separar saudação \"Olá [Nome], tudo bem?\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  // Captura nomes simples ou compostos (Jose Renato, Maria Clara, etc.)\n  formattedMessage = formattedMessage.replace(\n    /^(Olá\\s+[A-Za-zÀ-ÿ]+(?:\\s+[A-Za-zÀ-ÿ]+)?,?\\s*tudo\\s+bem\\s*\\?)\\s*/i,\n    '$1\\n\\n'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 2: Separar após contexto inicial (problema/desafio do setor)\n  // ═══════════════════════════════════════════════════════════════════════════\n  const problemPatterns = [\n    'Empresas de tecnologia',\n    'Empresas como a sua',\n    'Sabemos que empresas',\n    'Sabemos que a complexidade',\n    'Com sua operação',\n    'Notei sua',\n    'Acompanhei o histórico',\n    'Na sua liderança',\n  ];\n  \n  problemPatterns.forEach(pattern => {\n    const regex = new RegExp(`(\\\\.)(\\\\s*)(${pattern})`, 'gi');\n    formattedMessage = formattedMessage.replace(regex, '$1\\n\\n$3');\n  });\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 3: Separar antes de \"A TT&Co\" ou \"Na TT&Co\"\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Na TT&Co)/g,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 4: Separar antes do convite/CTA principal\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(por isso gostaria de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Gostaríamos de convidá-lo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 5: Separar antes de frases sobre agenda/exclusividade\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(A agenda para)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Essa conversa é exclusiva)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Tenho algumas vagas)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 6: Separar antes do fechamento/call-to-action final\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se fizer sentido)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Se estiver disponível)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Caso tenha interesse)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\?)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fico no aguardo)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // PADRÃO 7: Separar assinatura\n  // ═══════════════════════════════════════════════════════════════════════════\n  \n  // Antes de \"Abraço,\" ou \"Até breve!\"\n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Abraço[,.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /([.!?])(\\s*)(Até breve[!.]?)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Antes de \"Fabio Ferraz\" quando não precedido por Abraço/Até breve\n  formattedMessage = formattedMessage.replace(\n    /(\\.)(\\s*)(Fabio Ferraz)/gi,\n    '$1\\n\\n$3'\n  );\n  \n  // Se tem \"Abraço,\" ou \"Até breve!\" seguido de \"Fabio Ferraz\", linha separada\n  formattedMessage = formattedMessage.replace(\n    /(Abraço[,.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  formattedMessage = formattedMessage.replace(\n    /(Até breve[!.]?)(\\s*)(?!\\n)(Fabio Ferraz)/gi,\n    '$1\\n$3'\n  );\n  \n  // ═══════════════════════════════════════════════════════════════════════════\n  // LIMPEZA FINAL\n  // ═══════════════════════════════════════════════════════════════════════════\n  formattedMessage = formattedMessage.replace(/[ \\t]+\\n/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n[ \\t]+/g, '\\n');\n  formattedMessage = formattedMessage.replace(/\\n{3,}/g, '\\n\\n');\n  formattedMessage = formattedMessage.trim();\n  \n  return formattedMessage;\n}\n\n// ═══════════════════════════════════════════════════════════════════════════════\n// PROCESSAMENTO PRINCIPAL\n// ═══════════════════════════════════════════════════════════════════════════════\n\nconst inputData = $input.all();\nconst results = [];\n\nfor (const item of inputData) {\n  let message = item.json.output?.message || item.json.message || '';\n  let subject = item.json.output?.subject || item.json.subject || '';\n  let to = item.json.output?.to || item.json.to || '';\n  \n  const formattedMessage = formatEmailWithLineBreaks(message);\n  const htmlMessage = formattedMessage.replace(/\\n/g, '<br>');\n  \n  results.push({\n    json: {\n      output: {\n        to: to,\n        subject: subject,\n        message: formattedMessage,\n        messageHtml: htmlMessage\n      },\n      originalMessage: message,\n      wasFormatted: message !== formattedMessage\n    }\n  });\n}\n\nreturn results;"
       },
       "id": "d7f4fc21-439d-4e45-893c-83f5c4518c7d",
       "name": "Code in JavaScript4",
       "type": "n8n-nodes-base.code",
       "position": [
         896,
         1584
       ],
       "typeVersion": 2
     },
     {
       "parameters": {
         "httpMethod": "POST",
         "path": "executor/PLACEHOLDER",
         "options": {}
       },
       "id": "96fa1578-8274-4d52-be95-0a19ca5d3d20",
       "name": "Executor Webhook",
       "type": "n8n-nodes-base.webhook",
       "position": [
         -1008,
         480
       ],
       "typeVersion": 2,
       "webhookId": "83500f56-7b11-4c66-bbe4-98b6173e3090"
     },
     {
       "parameters": {
         "assignments": {
           "assignments": [
             {
               "id": "f1cdbef4-4dea-4112-bb20-e2e89c002b57",
               "name": "random_numb",
               "value": "={{ Math.floor(Math.random() * 10) }}",
               "type": "string"
             }
           ]
         },
         "options": {}
       },
       "id": "293d5619-2041-46fa-a3fc-cc384f0ae8e3",
       "name": "Edit Fields2",
       "type": "n8n-nodes-base.set",
       "position": [
         -816,
         480
       ],
       "typeVersion": 3.4
     },
     {
       "parameters": {
         "amount": "={{ $json.random_numb }}",
         "unit": "minutes"
       },
       "id": "61d59344-4b58-42d0-bf2e-001b8e88eb5c",
       "name": "Wait1",
       "type": "n8n-nodes-base.wait",
       "position": [
         -608,
         480
       ],
       "typeVersion": 1.1,
       "webhookId": "294e1ec7-b325-4c71-94cc-c9978bac455c"
     }
   ],
   "connections": {
     "Get many rows": {
       "main": [
         [
           {
             "node": "If5",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Wait": {
       "main": [
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Structured Output Parser": {
       "ai_outputParser": [
         [
           {
             "node": "Email Agent1",
             "type": "ai_outputParser",
             "index": 0
           }
         ]
       ]
     },
     "OpenAI Chat Model": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent1",
             "type": "ai_languageModel",
             "index": 0
           }
         ]
       ]
     },
     "OpenRouter Chat Model": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent1",
             "type": "ai_languageModel",
             "index": 1
           }
         ]
       ]
     },
     "Wait3": {
       "main": [
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Structured Output Parser3": {
       "ai_outputParser": [
         [
           {
             "node": "Email Agent",
             "type": "ai_outputParser",
             "index": 0
           }
         ]
       ]
     },
     "OpenAI Chat Model3": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent",
             "type": "ai_languageModel",
             "index": 0
           }
         ]
       ]
     },
     "OpenRouter Chat Model3": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent",
             "type": "ai_languageModel",
             "index": 1
           }
         ]
       ]
     },
     "Wait6": {
       "main": [
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Structured Output Parser6": {
       "ai_outputParser": [
         [
           {
             "node": "Email Agent2",
             "type": "ai_outputParser",
             "index": 0
           }
         ]
       ]
     },
     "OpenAI Chat Model6": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent2",
             "type": "ai_languageModel",
             "index": 0
           }
         ]
       ]
     },
     "OpenRouter Chat Model6": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent2",
             "type": "ai_languageModel",
             "index": 1
           }
         ]
       ]
     },
     "Wait9": {
       "main": [
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Structured Output Parser9": {
       "ai_outputParser": [
         [
           {
             "node": "Email Agent3",
             "type": "ai_outputParser",
             "index": 0
           }
         ]
       ]
     },
     "OpenAI Chat Model9": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent3",
             "type": "ai_languageModel",
             "index": 0
           }
         ]
       ]
     },
     "OpenRouter Chat Model9": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent3",
             "type": "ai_languageModel",
             "index": 1
           }
         ]
       ]
     },
     "Wait12": {
       "main": [
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Structured Output Parser12": {
       "ai_outputParser": [
         [
           {
             "node": "Email Agent4",
             "type": "ai_outputParser",
             "index": 0
           }
         ]
       ]
     },
     "OpenAI Chat Model12": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent4",
             "type": "ai_languageModel",
             "index": 0
           }
         ]
       ]
     },
     "OpenRouter Chat Model12": {
       "ai_languageModel": [
         [
           {
             "node": "Email Agent4",
             "type": "ai_languageModel",
             "index": 1
           }
         ]
       ]
     },
     "Email Agent": {
       "main": [
         [
           {
             "node": "Code in JavaScript1",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Email Agent1": {
       "main": [
         [
           {
             "node": "Code in JavaScript",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Email Agent2": {
       "main": [
         [
           {
             "node": "Code in JavaScript2",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Email Agent3": {
       "main": [
         [
           {
             "node": "Code in JavaScript3",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Email Agent4": {
       "main": [
         [
           {
             "node": "Code in JavaScript4",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Update a row": {
       "main": [
         [
           {
             "node": "Wait",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Update a row1": {
       "main": [
         [
           {
             "node": "Wait3",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Update a row2": {
       "main": [
         [
           {
             "node": "Wait9",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Update a row3": {
       "main": [
         [
           {
             "node": "Wait6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Update a row4": {
       "main": [
         [
           {
             "node": "Wait12",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Sort": {
       "main": [
         [
           {
             "node": "Limit6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "If5": {
       "main": [
         [
           {
             "node": "Sort",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Limit6": {
       "main": [
         [
           {
             "node": "Add index to each item",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "CONSULTA AO SCRIPT": {
       "ai_tool": [
         [
           {
             "node": "Email Agent",
             "type": "ai_tool",
             "index": 0
           }
         ]
       ]
     },
     "CONSULTA AO SCRIPT1": {
       "ai_tool": [
         [
           {
             "node": "Email Agent1",
             "type": "ai_tool",
             "index": 0
           }
         ]
       ]
     },
     "Embeddings OpenAI": {
       "ai_embedding": [
         [
           {
             "node": "CONSULTA AO SCRIPT",
             "type": "ai_embedding",
             "index": 0
           }
         ]
       ]
     },
     "Embeddings OpenAI1": {
       "ai_embedding": [
         [
           {
             "node": "CONSULTA AO SCRIPT1",
             "type": "ai_embedding",
             "index": 0
           }
         ]
       ]
     },
     "CONSULTA AO SCRIPT2": {
       "ai_tool": [
         [
           {
             "node": "Email Agent4",
             "type": "ai_tool",
             "index": 0
           }
         ]
       ]
     },
     "Embeddings OpenAI2": {
       "ai_embedding": [
         [
           {
             "node": "CONSULTA AO SCRIPT2",
             "type": "ai_embedding",
             "index": 0
           }
         ]
       ]
     },
     "CONSULTA AO SCRIPT3": {
       "ai_tool": [
         [
           {
             "node": "Email Agent2",
             "type": "ai_tool",
             "index": 0
           }
         ]
       ]
     },
     "CONSULTA AO SCRIPT4": {
       "ai_tool": [
         [
           {
             "node": "Email Agent3",
             "type": "ai_tool",
             "index": 0
           }
         ]
       ]
     },
     "Embeddings OpenAI3": {
       "ai_embedding": [
         [
           {
             "node": "CONSULTA AO SCRIPT4",
             "type": "ai_embedding",
             "index": 0
           }
         ]
       ]
     },
     "Embeddings OpenAI4": {
       "ai_embedding": [
         [
           {
             "node": "CONSULTA AO SCRIPT3",
             "type": "ai_embedding",
             "index": 0
           }
         ]
       ]
     },
     "Reranker Cohere": {
       "ai_reranker": [
         [
           {
             "node": "CONSULTA AO SCRIPT",
             "type": "ai_reranker",
             "index": 0
           }
         ]
       ]
     },
     "Reranker Cohere1": {
       "ai_reranker": [
         [
           {
             "node": "CONSULTA AO SCRIPT1",
             "type": "ai_reranker",
             "index": 0
           }
         ]
       ]
     },
     "Reranker Cohere2": {
       "ai_reranker": [
         [
           {
             "node": "CONSULTA AO SCRIPT2",
             "type": "ai_reranker",
             "index": 0
           }
         ]
       ]
     },
     "Reranker Cohere3": {
       "ai_reranker": [
         [
           {
             "node": "CONSULTA AO SCRIPT4",
             "type": "ai_reranker",
             "index": 0
           }
         ]
       ]
     },
     "Reranker Cohere4": {
       "ai_reranker": [
         [
           {
             "node": "CONSULTA AO SCRIPT3",
             "type": "ai_reranker",
             "index": 0
           }
         ]
       ]
     },
     "Switch": {
       "main": [
         [
           {
             "node": "If",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "If1",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "If2",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "If3",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "If4",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Add index to each item": {
       "main": [
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Loop Over Items6": {
       "main": [
         [],
         [
           {
             "node": "Switch",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "If": {
       "main": [
         [
           {
             "node": "Email Agent1",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "If1": {
       "main": [
         [
           {
             "node": "Email Agent",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "If2": {
       "main": [
         [
           {
             "node": "Email Agent2",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "If3": {
       "main": [
         [
           {
             "node": "Email Agent3",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "If4": {
       "main": [
         [
           {
             "node": "Email Agent4",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Loop Over Items6",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Send a message": {
       "main": [
         [
           {
             "node": "Update a row",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Send a message1": {
       "main": [
         [
           {
             "node": "Update a row1",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Send a message2": {
       "main": [
         [
           {
             "node": "Update a row3",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Send a message3": {
       "main": [
         [
           {
             "node": "Update a row2",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Send a message4": {
       "main": [
         [
           {
             "node": "Update a row4",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Code in JavaScript": {
       "main": [
         [
           {
             "node": "Send a message",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Code in JavaScript1": {
       "main": [
         [
           {
             "node": "Send a message1",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Code in JavaScript2": {
       "main": [
         [
           {
             "node": "Send a message2",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Code in JavaScript3": {
       "main": [
         [
           {
             "node": "Send a message3",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Code in JavaScript4": {
       "main": [
         [
           {
             "node": "Send a message4",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Executor Webhook": {
       "main": [
         [
           {
             "node": "Edit Fields2",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Edit Fields2": {
       "main": [
         [
           {
             "node": "Wait1",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Wait1": {
       "main": [
         [
           {
             "node": "Get many rows",
             "type": "main",
             "index": 0
           }
         ]
       ]
     }
   },
   "pinData": {},
   "meta": {
     "instanceId": "a0f7a305da35e849bafdb639b90f9c75f57bc77027e416642bf74993eb8cfaee"
   }
 }